[2020-05-10 20:52] bismitaguha opened #1 "Docs: Add README and Setup instructions"
### Is your feature request related to a problem? Please describe.
- There is no guide for what this repository is meant for.
- No guidelines to setup this project.
### Describe the solution you'd like
- Add an initial README.md which describes the purpose of the repository, with relevant links.
- Add a SETUP.md with instructions to set up this project, with required libraries and packages for the

[2020-05-10 20:57] bismitaguha opened #2 "Planning: Open Source Programs ER diagram"
Discussion for the initial ER diagrams of the application.

[2020-05-19 16:28] Monal5031 opened #3 "Registration mocks UI"
## Description
As a User,
I need to register to OSP,
so that I can login.

## Mocks
*Need to be created*

## Acceptance Criteria
### Minimum Needed [Required]
- [x] Field to input email
- [x] Field to input password
- [ ] Field to input first name
- [ ] Field to input last name

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
3 hours

[2020-05-19 16:31] Monal5031 opened #4 "Modal UI and button for inviting other admins"
## Description
As an Admin,
I am able to invite other admins via a modal UI that pops-up by clicking on a button.

## Mocks
*Need to be created*

## Acceptance Criteria
### Update [Required]
- [ ] Field to input email for the invited user
- [ ] Field to invite as: User or Admin

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
3 hours

[2020-05-19 16:35] Monal5031 opened #5 "Profile UI for user"
## Description
As a User,
I am able to view and edit my profile on OSP,
so that I can display my latest details.

## Mocks
*Need to be created*

## Acceptance Criteria
### Update [Required]
- [x] Fields showing the details filled in already.
- [x] A button to edit a particular field

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
3 h

[2020-05-19 16:41] Monal5031 opened #6 "Form creation and view UI"
## Description
As an Admin,
I am able to create forms,
so that users can fill them in. I'm also able to view this form from users perspective to fill in the questions.

## Mocks
*Need to be created*

## Acceptance Criteria
### Update [Required]
- [x] Button to open the Form create UI
- [x] UIs for different type of questions
- [x] Button to add a new question
- [x] Button to remove a question
- [x

[2020-05-19 19:42] bismitaguha commented on #3
### Login Page
![Screenshot from 2020-05-20 01-07-25](https://user-images.githubusercontent.com/43119923/82370820-c7401a80-9a36-11ea-9a97-c54f69f38504.png)
### Register Page
![Screenshot from 2020-05-20 01-07-42](https://user-images.githubusercontent.com/43119923/82370825-ca3b0b00-9a36-11ea-9b7f-98fb02fbac25.png)

[2020-05-22 13:43] bismitaguha commented on #6
### Initial View
![OSP-UI-Applicant Progress-Student Side (1)](https://user-images.githubusercontent.com/43119923/82673902-259c1180-9c60-11ea-9bb2-6961dd6f8bb3.png)

[2020-05-22 17:13] mayburgos commented on #3
@bismitaguha The only feedback is we need the application title somewhere.

[2020-05-22 17:22] mayburgos commented on #6
@bismitaguha Two things to add:
* Back button ( < Back to All Forms)
* Horizontal line (between the form and the edit form)

[2020-05-22 21:14] bismitaguha commented on #6
### Updated View
![OSP-UI-Applicant Progress-Student Side (2)](https://user-images.githubusercontent.com/43119923/82709902-42a40500-9c9f-11ea-9327-cdddb6bcf919.png)

@mayburgos @Monal5031 This is the revised view. Please review!!! :smiley:

[2020-05-23 14:01] bismitaguha commented on #6
### Form List
![OSP-UI-Form list](https://user-images.githubusercontent.com/43119923/82732623-e935e780-9d2b-11ea-929a-a99cc6284d1c.png)

[2020-05-25 13:10] Monal5031 commented on #3
Agree with @mayburgos , Create a generic navbar as well

[2020-05-25 13:12] Monal5031 commented on #6
One suggestion for the button texts, Instead of `Update`, IMO we should use `Edit`

Also, instead of having separate column for buttons, how about just using icons at the top right corner of the form box.

And I think we are missing a link copy button or field to help us copy the link to share with others.

[2020-05-27 18:09] bismitaguha commented on #6
## Updated Form Creation View
- **Change to normal button from ghost button for EDIT**
I feel that edit is not an action which we don't want the admin to perform, neither do we need alerts for that action. So it should not be a Ghost Button
- **Adding of REQUIRED and Specific entry for Choice, Dropdown and Checkbox fields**
There was no discussion regarding the **REQUIRED** option for the form. I

[2020-05-27 18:26] bismitaguha commented on #5
## User Dashboard
- **GitHub Stats** is a NICE TO HAVE.
- Included View for the **Logout** & **Settings** options.
![OSP-UI-User Dashboard](https://user-images.githubusercontent.com/43119923/83057846-190b2500-a075-11ea-8ff2-0b3982278976.png)

### Some possible additions
- More details to be asked from users.
- **NICE TO HAVE:** Better detailed stats from Zulip and GitHub (stream-wise, repository-w

[2020-05-27 18:30] bismitaguha commented on #3
## General Navbar
![navbar](https://user-images.githubusercontent.com/43119923/83058403-f0cff600-a075-11ea-94a1-849b1d9fe31a.png)
## Navbar when not Logged In
![navbar-out](https://user-images.githubusercontent.com/43119923/83058525-1e1ca400-a076-11ea-9f8e-3cf931acdfe6.png)

@mayburgos @Monal5031 @abha224 Please review. :smiley:

[2020-05-28 06:45] abha224 commented on #6
@bismitaguha
For the form creation page: The required field is a good addition. Will the enter options field available for all the data types? Also, I think the edit button seems redundant as the form is displayed in the editing mode below.
Form previews looks good :+1:

[2020-05-28 06:49] abha224 commented on #3
@bismitaguha can you move the settings and logout display to below the navbar? The navbar looks good otherwise!
Also, is the login page going to be the landing page of the website?

[2020-05-28 07:17] abha224 commented on #5
@bismitaguha
I have a few thoughts:
1) some of the headings could be renamed like, general information-> profile, user type -> role
2) under the information, we can include a skills section(can be named something else as well) to indicate their technical interests or the technical role they assume. We can also add a field where they can display which program they are applying for currently.
3) Can

[2020-05-28 10:55] bismitaguha commented on #5
@abha224

Regarding the program part, we are not covering this GSoC. @mayburgos suggested we should remove those, as programs are not a part of MVP. So only forms and filtering based on forms

All that information will be generated automatically through Zulip scripts, so combining them would complicate the APIs. UPDATE would run the scripts and update the information, that cannot be filled by user

[2020-05-28 11:04] bismitaguha commented on #6
@abha224 the top 3 buttons are for the form, like deleting the whole form, updating it's name or target users, etc.
I have separated them by a horizontal line.
The 2 options below are for the fields only. **SAVE** would save any new fields created. For updating a specific one respective icons for each field is there, and **PREVIEW** does it's obvious.

Also since @abha224 couldn't realize the obvi

[2020-05-28 11:10] bismitaguha commented on #3
A check will be done on logged-in state and based on that a redirect will be made to the login page or homepage! @abha224

[2020-05-28 11:18] bismitaguha commented on #6
@abha224

No that will be disabled for other fields. If Checkbox, choice or dropdown is selected that will be enabled.

[2020-05-29 13:51] abha224 commented on #6
@bismitaguha Oh, alright. thanks for clarifying!

I agree to this, it seems more intuitive as well.

cool, I was just confirmed as the UI mockup had it for all the questions :+1:

[2020-05-29 13:55] abha224 commented on #5
@bismitaguha oh okay, cool then!

got it :+1:

[2020-05-30 20:36] bismitaguha commented on #2
[DB structure](https://whimsical.com/54vvNLcoYqHzeFqEpyPAKq)
![db-structure-osp (1)](https://user-images.githubusercontent.com/43119923/83338581-4d841880-a2e3-11ea-9181-0f0101da10b0.png)

[2020-05-30 20:40] bismitaguha commented on #5
### Dashboard view
![OSP-UI-Dashboard (1)](https://user-images.githubusercontent.com/43119923/83338614-b23f7300-a2e3-11ea-9b30-ce1bf1c5810a.png)
@abha224 @Monal5031 @mayburgos This is the updated view based on suggestions. For the admins we won't have the forms filled and stats part.

[2020-05-30 21:12] bismitaguha commented on #6
### Updated Form Views
![OSP-UI-Form page](https://user-images.githubusercontent.com/43119923/83338949-b1f4a700-a2e6-11ea-8888-2ea9bfaa1fee.png)
![OSP-UI-Form Preview (3)](https://user-images.githubusercontent.com/43119923/83339126-40b5f380-a2e8-11ea-9358-89d2a8ab868c.png)
![OSP-UI-Form Creation (4)](https://user-images.githubusercontent.com/43119923/83339128-427fb700-a2e8-11ea-9d8e-8b19995e7c4f.p

[2020-06-01 06:31] abha224 opened #7 "Create Registration UI"
## Description
As a user,
I need to be able to register on OSP,
so that I can login to the website.

## Mocks
As finalized in issue #3

## Acceptance Criteria
### Update [Required]
- [ ] Create Registration UI
- [ ] UI should follow the agreed mockup
- [ ] Throw validation errors on the UI if the email does not match xxx@xxx.com, password does not follow a combination of at least 1 digit, at least

[2020-06-01 17:06] Monal5031 opened #8 "As an User, I am able to view my form submissions"
## Description
As an User, I am able to view my form submissions

## Mocks
n/a

## Acceptance Criteria
### Update [Required]
- [ ] Create a page to list all submissions
- [ ] Connect API to retrieve all this data
- [ ] Make sure to add user query param in API call

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 day

[2020-06-01 17:10] Monal5031 opened #9 "As an User, I am able to edit the form responses"
## Description
As an User, I am able to edit the form responses

## Mocks
n/a

## Acceptance Criteria
### Update [Required]
- [ ] Add button to edit the form
- [ ] Create edit form page
- [ ] Prefill data to questions already answered
- [ ] Add error message for form closed / form invalid.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimat

[2020-06-01 17:10] Monal5031 opened #10 "As an User, I am able to fill, edit and view the form"
## Description
As an User, I am able to fill the form

## Mocks

See https://github.com/anitab-org/open-source-programs-web/wiki/User-Interface-Design for more insights on how it should look like

## Acceptance Criteria
### Update [Required]
- [ ] Create form feedback page
- [ ] Add check for form deadline
- [ ] Connect API endpoint for creating form feedback
- [ ] Add validations on type of quest

[2020-06-01 17:14] Monal5031 opened #11 "As an User, I am able to upload files to OSP"
## Description
As an User, I am able to upload files to OSP

## Mocks
n/a

## Acceptance Criteria
### Update [Required]
- [ ] Create upload file button
- [ ] Connect endpoints to send file as formdata
- [ ] Allow ability to download files from bucket (permission based)

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2-3 days

[2020-06-01 17:16] Monal5031 opened #12 "As an User, I am able to view the form via link."
## Description
As an User, I am able to view the form via link.

## Mocks
n/a

## Acceptance Criteria
### Update [Required]
- [ ] Page to view the form questions
- [ ] Space to answer the listed questions
- [ ] Button to submit the form
- [ ] Add checks for form close or required questions

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimat

[2020-06-01 17:18] Monal5031 opened #13 "As an Admin, I can close the form in order to stop the responses."
## Description
As an Admin, I can close the form in order to stop the responses.

## Mocks
n/a

## Acceptance Criteria
### Update [Required]
- [ ] Button to close the form
- [ ] Connect API to set the allowed responses field to False

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1-2 days

[2020-06-01 17:20] Monal5031 opened #14 "As an Admin, I should be able to share forms with the other users."
## Description
As an Admin, I should be able to share forms with the other users.

## Mocks
n/a

## Acceptance Criteria
### Update [Required]
- [ ] Button to generate a unique link to form
- [ ] Button to copy the link
- [ ] Connect API to generate and send the unique link

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 days

[2020-06-02 06:13] abha224 opened #15 "Frontend React setup"
## Description
Have a frontend setup working with all dependencies and required directory structure.

## Acceptance Criteria

- [ ]  create a base setup for a react app
- [ ]  add dependencies for testing
- [ ]  build and run your app

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 day

[2020-06-02 06:31] abha224 opened #16 "Create Login UI"
## Description
As a user, I need to be able to login to OSP.

## Mocks
As finalized in #3

## Acceptance Criteria
### Update [Required]
- [ ] Create Login UI
- [ ] Throw validation errors on the UI if the username is invalid or if the username and password do not match or if any of the mandatory fields are missing.
- [ ] If login is successful, then I should be redirected to the dashboard
- [ ] If

[2020-06-02 09:30] abha224 opened #17 "Create dashboard UI"
## Description
As a user, I need to see the dashboard once I sucessfully login to the website.

## Mocks
As finalized in #5

## Acceptance Criteria
### Update [Required]
- [ ] There is a main navbar with settings and logout options
- [ ] The user's personal information is displayed
- [ ] There is an inner navbar with the 3 tabs: Dashboard, forms, submissions.

## Definition of Done
- [ ] All of th

[2020-06-02 14:45] abha224 opened #19 "Create forms UI"
## Description
As an admin, I need to be able to create forms so that the users can fill them. Admin should also be able to view the forms from the user's perspective as well.

## Mocks
As finalized in issue #6

## Acceptance Criteria

The form should have :
- [ ] The form should have all the components as the mockup
- [ ] consume backend APIs

## Definition of Done
- [ ] All of the required items

[2020-06-02 14:47] abha224 opened #20 "Second Phase"
## Description

[2020-06-02 14:53] abha224 opened #21 "feat: Edit profile of user"
### Description
As a User, I should be able to edit information on my profile that is displayed on my dashboard.

## Definition of Done
- [ ] The user is able to edit the profile
- [ ] Approval by 2 mentors.

## Estimation
3 hours

[2020-06-02 14:58] abha224 opened #22 "First Phase"
## Description
As a user , I need to be able to register/login with the OSP website.

As a user, I would like to see a dashboard with the necessary information once I login to the website.

As an Admin, I need to be able to create new forms and view them.

[2020-06-02 17:15] #15 closed, assigned to bismitaguha

[2020-06-08 15:33] mayburgos opened #24 "First Phase"

[2020-06-08 15:33] mayburgos opened #25 "Second Phase"

[2020-06-08 16:55] mayburgos opened #26 "Final Phase"

[2020-06-16 10:10] abha224 opened #29 "Create email comfirmed UI"
## Description
As a user, after successful registration, my email has to be confirmed. I need to see an email confirmation message in osp once verification is done.

## Acceptance Criteria
### Update [Required]
- [ ] Create email confirmed UI
- [ ] must have an appropriate message of confirmation.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentors.

#

[2020-06-16 12:04] abha224 opened #30 "feat: deciding content for the homepage"
## Description
The Open source programs website currently does not have a homepage. We need to finalize the **content** to be included in the homepage so that the users can get better clarity on what the website is about.

### Additional context
Currently the landing page, ie, the first page that any user sees when they visit the osp website is the Login page. A mock for the login page can be foun

[2020-06-16 12:12] abha224 opened #31 "UI: design a mock-up for the homepage"
## Description
The Open source programs website currently does not have a homepage. We need to **design a mockup for the homepage** of the website so that the users can get better clarity on what the website is about.

### Additional context
Currently the landing page, ie, the first page that any user sees when they visit the osp website is the Login page. A mock for the login page can be found [h

[2020-06-18 14:30] Sonal240 commented on #31
Hey @abha224 ...I would like to work on this issue...may you assign it to me and share the content headings as in what content is been decided to be on this page if any...thanks

[2020-06-18 14:38] bismitaguha opened #33 "UI: Design a 404 page for default redirects"
### Is your feature request related to a problem? Please describe.
Currently, wrong URLs redirect to a general page but the correct redirect should be to a `404: Not found` page. We need the design of such a page and a change in the URL `Routes.js`

### Describe the solution you'd like
- Design a 404 page
- Change route URL to Redirect to `/404` on wrong URLs

### Definition of Done
- [ ] A 404 er

[2020-06-18 14:59] bismitaguha commented on #31
#30
This is the issue of deciding the content. @Sonal240 We can discuss the relevant content here. I feel the content should contain details about the application, the community, the purpose of the application and how to go about using it.

[2020-06-18 15:27] Sonal240 commented on #31
@bismitaguha is the navbar finalized or can I add that as well...also are you following any margin guidelines for developing mocks?? Can I use any relevant illustration ??

[2020-06-18 16:54] sidvenu opened #34 "Use a code formatter for standardising the code style"
### Is your feature request related to a problem? Please describe.
It will be difficult to enforce a coding style as the repo grows bigger and gets more PRs.

### Describe the solution you'd like
We must use a code formatter (ideally, opinionated one like https://prettier.io/) to handle that.

### Describe alternatives you've considered
We can have unopinionated code formatters, but that still pla

[2020-06-19 05:59] Sonal240 commented on #31
![osp](https://user-images.githubusercontent.com/49720151/85101443-0c1ac500-b220-11ea-9f1d-953f55e26556.png)

kindly review it and let me know the changes to be done thanks

[2020-06-21 06:44] Sonal240 commented on #31
![osp](https://user-images.githubusercontent.com/49720151/85218392-8762af00-b3b7-11ea-87b6-3a165883b497.png)
I've updated the design according to the feedback received and have removed those images as they were looking squishy because I was trying to fit them in those rectangles...anyways if required I'll share them as well
Please have look and let me know the changes to be done...thanks

[Design

[2020-06-22 05:21] Sonal240 commented on #31
![osp](https://user-images.githubusercontent.com/49720151/85251141-264de080-b476-11ea-93bf-93376583ac17.png)
Please have a look and let me know the changes...thanks
The line has disappeared here but it's there in the actual design link

[2020-06-27 07:45] #7 closed, assigned to bismitaguha

[2020-06-27 15:04] #16 closed, assigned to bismitaguha

[2020-06-28 07:27] #17 closed, assigned to bismitaguha

[2020-07-03 15:25] abha224 opened #37 "login validation notifications"
### Describe the bug
Currently, when the user logs in, there is no message displayed in case the username is invalid or if the password and username don't match.

### Expected behavior
An appropriate message should be displayed in case of errors.

[2020-07-03 15:32] #21 closed, assigned to bismitaguha

[2020-07-03 17:09] bismitaguha opened #38 "Special characters missing from Password Regex"
### Describe the bug
Currently, a few special characters are not covered in the password Regex.

### To Reproduce
Steps to reproduce the behavior:
1. Go to 'register user'
2. Enter a password having characters '.', '()', etc
3. Press **Register**
4. See password error still shown

### Expected behavior
All the special characters should be acceptable

### Screenshots
N/A

### Additional context
Sol

[2020-07-08 13:48] Sonal240 commented on #31
[Design Link](https://xd.adobe.com/view/754810bb-e6bd-4c1d-74d5-b2c5c2f73613-0379/)
Please have a look at the changes
![osp](https://user-images.githubusercontent.com/49720151/86926509-c92d7c80-c14f-11ea-8e21-54c08e8ec7b6.png)

@bismitaguha @sidvenu

[2020-07-08 14:05] bismitaguha commented on #31
@Sonal240 The illustrations are wonderful IMO. Let's wait for others to review!

[2020-07-08 14:05] abha224 commented on #31
@Sonal240 Hey! love your designs :heart_eyes: :heart_eyes:
Just one small change i would like to suggest is if you can modify the navbar "new user" button to a generic "sign in" button as this homepage is visible to people who have not signed in yet

[2020-07-08 14:25] Sonal240 commented on #31
@bismitaguha the illustrations are made by @simranaggarwal1999 🙂💜

[2020-07-08 14:55] Sonal240 commented on #31
![osp](https://user-images.githubusercontent.com/49720151/86934135-f7638a00-c158-11ea-8c5e-0e5791527689.png)
[Design Link](https://xd.adobe.com/view/754810bb-e6bd-4c1d-74d5-b2c5c2f73613-0379/)

@abha224 how's it?

[2020-07-08 15:23] abha224 commented on #31
@Sonal240 The navbar looks great now :+1:
Sorry for not mentioning this earlier, but is it possible to make the headings black in color?

[2020-07-08 16:06] Sonal240 commented on #31
![osp](https://user-images.githubusercontent.com/49720151/86942614-f2a3d380-c162-11ea-849c-edf6de184c30.png)
[Design Link](https://xd.adobe.com/view/754810bb-e6bd-4c1d-74d5-b2c5c2f73613-0379/)

@abha224 how's this now?

[2020-07-08 17:12] abha224 commented on #31
@Sonal240 The mock looks great!! :blush:
Let's wait for @sidvenu 's approval. Till then can you help out with the margins and padding necessary according to your design? Once the design is finalized, you can go ahead and make issues for coding the homepage! :P

[2020-07-08 17:37] Sonal240 commented on #31
I have not fixed any margins etc since it was not a part of MVP earlier when I asked @bismitaguha regarding this...@abha224

[2020-07-08 17:56] sidvenu commented on #31
It's beautiful! Though, I think we can change the colour of the FAQ (+) buttons to match with the theme (aqua blue). What do you think? :) @Sonal240 @anitab-org/open-source-progs-developers @anitab-org/open-source-progs-maintainers

[2020-07-08 18:17] Sonal240 commented on #31
Cool 🙃@sidvenu ..I'll do the changes and update  here

[2020-07-09 06:51] simranaggarwal1999 commented on #31
Thankyou @bismitaguha  @Sonal240

[2020-07-09 13:12] Sonal240 commented on #31
![osp](https://user-images.githubusercontent.com/49720151/87044100-b54b4e80-c213-11ea-9e8e-6ef64f242585.png)
[Design Link](https://xd.adobe.com/view/754810bb-e6bd-4c1d-74d5-b2c5c2f73613-0379/)

Sorry for turning in late...how's it @sidvenu @abha224 @bismitaguha?

[2020-07-09 13:13] Sonal240 commented on #31
@abha224 are we following any margin guidelines? if any may you please share it...thanks

[2020-07-10 14:24] sidvenu commented on #31
@Sonal240 it's amazing! A good to go from my side.
@simranaggarwal1999 great work on the icons.

As far as I know, we aren't following any margin guidelines - @anitab-org/open-source-progs-maintainers @anitab-org/open-source-progs-developers correct me if I'm wrong :smile:.

[2020-07-10 15:36] abha224 commented on #31
@Sonal240 We don't have any documented guidelines for the designs to follow for this project yet. I think it would be great if you can help us set one through your design!!
If you want we can have the discussion about this on zulip so that this issue can be closed with the final design :smiley:

As for the mock, i think it looks great!! @simranaggarwal1999 @Sonal240 Thank you for your amazing work

[2020-07-17 14:14] Akanksha1212 commented on #33
Hi @bismitaguha, I would like to work on this.

[2020-07-17 16:11] bismitaguha commented on #33
Wonderful @Akanksha1212 You may go ahead!!!

[2020-07-23 15:43] abha224 commented on #1
closing this since the mentioned task has already been completed.

[2020-07-23 15:43] #1 closed

[2020-07-23 15:44] abha224 commented on #3
closing this issue since the mocks were approved.

[2020-07-23 15:44] #3 closed

[2020-07-23 15:45] abha224 commented on #2
closing this issue as the ER diagram was approved and finalized.

[2020-07-23 15:45] #2 closed

[2020-07-23 15:49] abha224 commented on #33
@Akanksha1212 Hi! How's the progress on this issue?

[2020-07-24 09:33] Akanksha1212 commented on #33
Hi @abha224, I am working on it.

[2020-07-28 11:19] saideepesh000 commented on #38
Can I try this issue? @bismitaguha

[2020-07-28 13:28] abha224 opened #44 "Bug: update the username properly"
### Describe the bug
Currently the edit profile functionality is not working as expected. The first character does not get deleted on backspace. This has to be modified accordingly in the frotend part so that the user an easily update the username.

### To Reproduce
Steps to reproduce the behavior:
1. login to osp
2. Click on dashboard
3. select the pencil icon to edit
4. try to edit the username

[2020-07-28 16:06] bismitaguha commented on #38
Yes @saideepesh000 sure! Before making the PR just list down the characters or changes you are adding.

[2020-07-28 17:08] saideepesh000 commented on #38
@bismitaguha, are we going to use all the special characters listed [here](https://tools.oratory.com/altcodes.html) or just those are directly visible on the keyboard.

[2020-07-29 07:45] saideepesh000 commented on #38
@bismitaguha , I think this works, you can try here [regex101](https://regex101.com/)

^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\[\]~`!@#$%^&*?\\/>.<,"':;}{|+=_()-])[A-Za-z\d[\[\]~`!@#$%^&*?\\/>.<,"':;}{|+=_()-]{12,}$

[2020-07-29 18:25] bismitaguha commented on #38
It's not working there @saideepesh000 . Do make the PR so we can test it out!!

[2020-07-31 14:45] saideepesh000 commented on #44
@abha224, Can I try this.

[2020-07-31 15:02] bismitaguha commented on #44
@saideepesh000 Go ahead!! Also thanks for taking interest in this project and contributing! :tada:

[2020-07-31 15:53] saideepesh000 commented on #44
@bismitaguha, Thanks

[2020-07-31 18:14] saideepesh000 commented on #44
@bismitaguha, @abha224, Please help me with the issue. while setting up the ops-backend, I ran into this error, I've done all the migrations too.

![Screenshot (250)](https://user-images.githubusercontent.com/43727167/89064033-da505e80-d386-11ea-9365-ff225364e358.png)

And this was the console error

![Screenshot (251)](https://user-images.githubusercontent.com/43727167/89064457-aa558b00-d387-11ea

[2020-07-31 18:16] bismitaguha commented on #44
try `api/` @saideepesh000

[2020-07-31 18:26] saideepesh000 commented on #44
@bismitaguha , it's showing

"HTTP 403 Forbidden
Allow: GET, HEAD, OPTIONS
Content-Type: application/json
Vary: Accept

{
    "detail": "Authentication credentials were not provided."
}
"

[2020-07-31 18:27] bismitaguha commented on #44
You haven't logged in this means. Login to the backend!

[2020-07-31 18:29] saideepesh000 commented on #44
@bismitaguha,

u mean to create a "superuser" in django

[2020-07-31 18:29] bismitaguha commented on #44
Yess create an user and login

[2020-07-31 18:30] saideepesh000 commented on #44
@bismitaguha, On front-end also when I register to create an account, I got an error showing "Unauthenticated senders not allowed".

[2020-07-31 18:32] bismitaguha commented on #44
Do create from the terminal a superuser!

[2020-07-31 18:38] saideepesh000 commented on #44
I got it :), thanks, One doubt, In any Django project, irrespective of front-end "Register/Sign up", we need to create a "superuser", and with that "superuser" we need to log in, am I right?

[2020-07-31 18:39] bismitaguha commented on #44
Yes!!!

[2020-08-01 08:04] saideepesh000 commented on #44
@bismitaguha , is this OK.

![edit_username](https://user-images.githubusercontent.com/43727167/89097318-9c415200-d3fb-11ea-8ac2-1411b3ba2569.gif)

[2020-08-01 18:53] #19 closed, assigned to bismitaguha

[2020-08-01 19:23] #14 closed, assigned to bismitaguha

[2020-08-01 20:44] #13 closed, assigned to bismitaguha

[2020-08-01 23:13] bismitaguha commented on #44
Looks good to me....please make a PR

[2020-08-06 19:07] Akanksha1212 commented on #33
Hi, Sorry but I don't have bandwidth to work on this rn. Will look for other issues. Making it available for others.

[2020-08-07 09:02] ParvathiRajpal commented on #33
Hi, May I take up this issue?

[2020-08-08 16:46] #38 closed, assigned to saideepesh000

[2020-08-10 14:03] abha224 opened #49 "feat:View and modify status of all the form submissions"
## Description

As an Admin, I need to be able to view all the form submissions made and update individual form status.

Changes in the mock: Add a header row, with a checkbox (with all rows selected), Applicant Name, GitHub Username, Zulip Username, Status.

## Mock
https://drive.google.com/file/d/1JuZetC0y8RCQ-72jFrehLSs-8HfTY74A/view

## Acceptance Criteria
### Update [Required]
- [ ] Admin is

[2020-08-10 15:36] abha224 opened #50 "feat: Zulip stats for the user"
## Description
As a User, I am able to view my personal zulip stats in a dashboard.

## Mocks
https://drive.google.com/drive/folders/1MybSH3f8peXGUSRxhDydDtoAi8WJL1th

## Acceptance Criteria
### Update [Required]
- [ ] Total messages sent
- [ ] Stream wise activity graph

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
4-5 hours

[2020-08-15 17:35] #12 closed, assigned to bismitaguha

[2020-08-15 17:51] abha224 opened #52 "Closing a form functionality not working appropriately"
### Describe the bug
The form is visible as open and closed in the same display.

### Screenshot
![Screenshot from 2020-08-15 23-15-38](https://user-images.githubusercontent.com/39526159/90318370-9c8a3300-df4d-11ea-917c-b5937fadb1a9.png)

### Expected behavior
When the admin closes the form , the status of the form should be updated appropriately. currently the same form is displayed two times on

[2020-08-15 19:00] #11 closed, assigned to bismitaguha

[2020-08-28 09:02] Aaishpra opened #56 "Spelling mistake and comma missing in Readme"
### Describe the bug
Spelling mistake  ( interact written as intereact ) and a comma missing after the word maintainers, in Readme.

### Screenshots
![image](https://user-images.githubusercontent.com/66299533/91541711-60d26e80-e93a-11ea-97c6-82d7e7be5474.png)

### Additional context
Corrected the errors

[2020-08-28 10:45] Aaishpra commented on #33
@bismitaguha Can i work on this

[2020-08-28 11:46] #56 closed, assigned to Aaishpra

[2020-08-28 11:54] #44 closed, assigned to saideepesh000

[2020-08-28 13:30] #52 closed, assigned to nobody

[2020-08-28 14:16] ksraj123 commented on #37
@bismitaguha @abha224 I don't see a PR associated with this issue, I would like to do this if someone is not working on it already. Thanks

[2020-08-29 06:48] Aaishpra commented on #33
Hey @bismitaguha while designing the 404 Error page i thought to give it a go back home button but since the home page is not yet available so should i just skip it or give a button to back to login page.

[2020-08-31 16:12] abha224 commented on #5
Closing this issue since the dashboard UI code is already merged.

[2020-08-31 16:13] #5 closed

[2020-08-31 16:13] abha224 commented on #6
Closing this issue as the associated UI code has been merged.

[2020-08-31 16:13] #6 closed

[2020-08-31 16:16] abha224 commented on #37
@ksraj123 Hi! yes sure, you can go ahead and work on this issue! :)

[2020-08-31 16:18] #20 closed, assigned to nobody

[2020-08-31 16:31] #24 closed, assigned to nobody

[2020-08-31 16:32] #22 closed, assigned to nobody

[2020-08-31 16:39] #25 closed, assigned to nobody

[2020-09-02 09:56] shivanii10 commented on #33
@bismitaguha  i want to work in this , could you please guide me?

[2020-09-02 10:00] bismitaguha commented on #33
@shivanii10 This is already assigned. Look for other issues!! Check out the backend repo also

[2020-09-02 10:01] shivanii10 commented on #33
ok

[2020-09-04 03:57] akj2018 commented on #4
Hey @abha224 , can I work on this issue ? I am completely new to open source. Please guide me and support. Thank You

[2020-09-04 04:38] sidvenu commented on #4
Hey @akj2018. I've assigned you to this issue. Let us know if you have any doubts or face any blockers.

[2020-09-06 13:04] akj2018 commented on #4
Respected Mentors,
I have 2 doubts regarding the project:

1. Whenever I filled up the register form, I face an error.
`Unhandled Rejection (TypeError): Cannot read property 'data' of undefined`
`  53 | catch (err) {
  54 |     dispatch({
  55 |         type: REGISTER_ERRORS,

     | ^  57 |     });
  58 |     callback()
  59 | }`
2. Can I use bootstrap for styling of modal ?

[2020-09-08 13:02] m-code12 commented on #29
@abha224 Is this issue still open?

[2020-09-14 05:09] Aaishpra opened #59 "Create the config.yml file for the Welcome Bot"
### Description
As a first time contributor,
I need a bot to help guide my first contribution,
so that I can follow this org's contribution guidelines.

### Mocks
![image](https://user-images.githubusercontent.com/66299533/93045943-2c6aec00-f676-11ea-8dd7-88f4ea670894.png)

### Acceptance Criteria

- [ ] newIssueWelcomeComment is complete with the correct links to this repo.

- [ ] newPRWelcomeCom

[2020-09-14 05:12] Aaishpra commented on #59
@bismitaguha @annabauza @sidvenu @abha224 can someone have a look at this issue and tell me if I can work on this. Thanks in advance.

[2020-09-15 18:13] ankitapuri commented on #59
@Aaishpra  can I work on this issue

[2020-09-16 04:17] Aaishpra commented on #59
Hey @ankitapuri Please accept my apologies,but can you look for some other issues in the project, as i have already done my work for this issue and would submit a PR as soon i am assigned to this.
Also i am just a contributor to this repo so can't really assign issues to anyone.😁

[2020-09-16 05:04] ankitapuri commented on #59
Ohk no issues

[2020-09-17 10:47] abha224 commented on #59
Hi @Aaishpra ! I think this issue would require some discussion around the content of the bot from the project managers of the community. Tagging @anitab-org/open-source-progs-managers for adding their comments.

[2020-09-17 11:44] Aaishpra commented on #59
Sure, and thanks for tagging the team😊

[2020-09-23 21:16] NarimaneHennouni commented on #29
Hi, is this still open?

[2020-10-01 08:59] Aaishpra commented on #59
@bismitaguha @sidvenu can you have look here. Thanks

[2020-10-28 02:48] somayaj commented on #37
Can this be worked?

[2021-01-07 13:35] emmanuelhashy commented on #4
Hey @sidvenu, I'd like to work on this issue? Thank You

[2021-01-09 03:01] emmanuelhashy commented on #29
Hi, abha224 I'd like to work on this issue.

[2021-01-11 21:29] chinmaym07 commented on #37
Hey @abha224 Can i try this issue.?

[2021-01-12 21:45] chinmaym07 opened #62 "Coding : Develop Dark-Mode"
### Is your feature request related to a problem? Please describe.
No. It's not related to a problem .But it's an additional feature as almost every web-app today has a dark-mode feature.

### Describe the solution you'd like
To Implement Dark-Mode

If it's a valid feature .Please assign this to me .

[2021-01-18 18:55] khushishikhu commented on #30
can i be assigned on this issue?

[2021-01-18 19:25] vj-codes commented on #30
Assigning you @khushishikhu
Happy designing!

[2021-01-19 07:09] Aditi-Roy-coder commented on #37
Can I please work on this issue? @abha224

[2021-01-19 07:19] Aaishpra commented on #4
Hi @akj2018 are you still working on this issue?

[2021-01-19 07:22] Aaishpra commented on #37
@ksraj123 are you still working on the issue?

[2021-01-19 11:03] khushishikhu opened #63 "Docs: Modifying setup instructions"
### Is your feature request related to a problem? Please describe.
In the setup instructions for starting the server ` cd open-source-programs-web`  this command is quite confusing for new developers and doesn't required here

### Describe the solution you'd like
This line should be removed because once we clone the project, we are already in that repository.

[2021-01-19 11:04] khushishikhu commented on #63
I would like to work on this issue. Can someone assign me for this ?

[2021-01-19 12:17] Rahulm2310 commented on #62
@chinmaym07 agreed that dark mode is a feature in most of the established apps today. But at this moment, I don't think dark mode functionality should be in our priority list. Rest is in hands of maintainers :)

[2021-01-19 12:22] Rahulm2310 commented on #63
@khushishikhu I admire your consideration for new developers, but I don't think a single command line can confuse anyone. In fact, this way new developers get to learn about command line interface which a developer uses everyday.

[2021-01-19 14:04] vj-codes commented on #29
@emmanuelhashy hey are you still interested to work on this issue?

[2021-01-19 14:06] vj-codes commented on #4
Unassigning @akj2018 due to inactivity.
If you would like to work again do let us know:)
This issue is available to all currently  🚀

[2021-01-19 14:07] vj-codes commented on #37
Unassigning @ksraj123  due to inactivity.
If you would like to work again do let us know:)
This issue is available to all currently 🚀

[2021-01-19 14:19] Rahulm2310 commented on #37
@vj-codes I would like to take up this issue.

[2021-01-19 14:27] Rahulm2310 commented on #29
@vj-codes I would like to take up this issue.

[2021-01-19 14:29] Rahulm2310 commented on #4
@vj-codes Can this be assigned to me.

[2021-01-19 15:31] vj-codes commented on #4
@Rahulm2310 you can work on one issue at a time , please let me know whether you would like to work on this or #29 or #37?

[2021-01-19 15:45] Aditi-Roy-coder commented on #37
@vj-codes Can I please work on this issue?

[2021-01-19 15:58] Rahulm2310 commented on #4
@vj-codes I want to work on #37

[2021-01-19 16:04] Rahulm2310 commented on #37
@vj-codes I would like to continue with this issue 😊

[2021-01-19 17:13] jalajcodes commented on #4
@vj-codes assign this one to me if its available 😃

[2021-01-19 17:13] vj-codes commented on #37
Assigning you @Rahulm2310
Happy coding!
@Aditi-Roy-coder you can go through other available issues for a great start!

[2021-01-19 17:14] Rahulm2310 commented on #37
Thanks @vj-codes

[2021-01-19 21:22] vj-codes commented on #4
Assigning you @jalajcodes
Happy coding!

[2021-01-20 08:18] Rahulm2310 commented on #37
@vj-codes can you explain this a little. Are the specific error messages sent from the backend and I just need to show them in the UI ?

[2021-01-20 08:29] vj-codes commented on #37
@Rahulm2310 I don't have much knowledge of this project , I'm just helping with the part of assigning/unassigning and labelling as there was no one active here.

@sidvenu @abha224 @bismitaguha can only help you here
Are there any messages in backend though?

[2021-01-20 08:42] Rahulm2310 commented on #37
@vj-codes  Seems so as every thing is handled at the backend, we are getting custom error messages from there only. @sidvenu @abha224 @bismitaguha guys please help

[2021-01-22 07:54] khushishikhu commented on #30
![osp](https://user-images.githubusercontent.com/65439761/105458468-a3f8f980-5cae-11eb-847d-e9edc727b741.png)

The content regarding this layout should be like:-

**WELCOME TO OPEN SOURCE PROGRAMS**
This project aims towards simplifying the management work of the maintainers, mentors and the
organization by listing all the important details in one view. This will ​benefit the community​ by
simplif

[2021-01-22 09:05] Rahulm2310 commented on #37
I think we are already showing error messages when a user enters invalid username or a valid username &  mismatching password.
![login-msg](https://user-images.githubusercontent.com/54268438/105469655-99466080-5cbe-11eb-9493-3456f4070448.JPG)
Although, for errors like network errors we are not showing any error notifications. Can someone point out what for what more specific use cases we need to s

[2021-01-22 09:41] Aaishpra commented on #37
@Rahulm2310 I am not sure but i think this issue demands some different error message to be shown when the username is invalid or if the password and username don't match, for example the error message shown for 2nd case i mentioned can be "sorry the username and password you entered don't match."
Does this make sense?

[2021-01-22 09:54] Rahulm2310 commented on #37
@Aaishpra If so then specific error messages should be sent from the backend only.

[2021-01-22 10:19] Aaishpra commented on #37
I am not quite sure, but I too believe that this should be handled at backend.
@abha224 can you help us?

[2021-01-23 07:18] INNOVATIVEGAMER opened #64 "Fix Typos in Readme and add CONTRIBUTING.md file"
### Describe the bug

1. Spelling mistakes and some commas are missing in the readme file.
2. Missing link to the contributing guidelines.
3. Add CONTRIBUTING.md file in .github folder

### Screenshots
![Editing open-source-programs-web_README md at develop · anitab-org_open-source-programs-web - Google Chrome 23-01-2021 12_46_14](https://user-images.githubusercontent.com/55017197/105571810-1a622e

[2021-01-23 07:19] INNOVATIVEGAMER commented on #64
@isabelcosta  please can you assign me on this issue so I can make required changes.

[2021-01-24 02:49] isabelcosta commented on #62
Hey @chinmaym07 thank you for proposing this idea :D and @Rahulm2310 for your suggestion!

This is a good idea, however, we would like to prioritize some PRs that open and we need to triage them. Before we start implementing new ideas, perhaps you could help review some of the PRs we have open and that need review. Here's a selection of it: https://github.com/anitab-org/open-source-programs-web/pu

[2021-01-24 05:32] chinmaym07 commented on #62
Yes .. thankyou @isabelcosta ..I completely agree with you & I will start reviewing open pr's ..☺️👍🏻

[2021-01-24 05:46] Rahulm2310 commented on #62
Thanks @isabelcosta ! I will also help in reviewing some open PRs.

[2021-01-24 10:35] INNOVATIVEGAMER commented on #34
@sidvenu or @isabelcosta  can you assign me on this issue.
I will add prettier as dependency and npm scripts for formatting and checking for the prettier formatter.

[2021-01-24 12:36] #62 closed, assigned to nobody

[2021-01-24 14:37] khushishikhu commented on #30
@isabelcosta  @vj-codes can you please take a look on the content I have written for the homepage

[2021-01-24 14:46] isabelcosta commented on #62
Thank you a lot @Rahulm2310 @chinmaym07

[2021-01-24 15:20] isabelcosta commented on #30
@khushishikhu this looks good overall. Regarding the "about", the project was originally proposed here from the community. I would tag @mayburgos as they were the main project manager for this ^^
Thank you for coming up with this initial version, it's definitely in the right direction! 👏 🚀

[2021-01-24 18:10] INNOVATIVEGAMER opened #65 "Add strict and clear guidelines for the usage of UI Framework"
### Description
Add strict guidelines for usage of Semantic-UI which is the UI framework decided for this project.

### Guidelines can contain the following lines

1. Codes of UI components should use the Semantic-UI classes.
2. If there is a need of creating some custom component, it can be customized using Semantic-UI (Instruction for such are included in [theming in semantic-UI](https://semanti

[2021-01-24 18:40] isabelcosta commented on #64
@INNOVATIVEGAMER I am not sure about what are the spelling mistakes, but I agree with the missing link. I will assign this to you, I can review the spelling mistakes in the PR :) Thank you for creating this!

[2021-01-24 23:00] #64 closed, assigned to INNOVATIVEGAMER

[2021-01-25 10:00] jalajcodes commented on #4
@vj-codes  Should I create some mocks for this feature in figma and share here to review?

[2021-01-28 03:14] sagar-barapatre opened #67 "Too many warnings"
### Describe the bug
The applications runs with too many warnings.

### To Reproduce
Steps to reproduce the behavior:
1. Go to each and every file where the warning is given
2. Go on that line where the warning is given.
3. See the warning the resolve that.

### Expected behavior
After resolving all the warnings we get to run the applications without any warnings
### Screenshots
![Screenshot 2021-

[2021-01-29 19:20] shruti1421 opened #69 "feat: Replace class components and states with functional components and hooks"
### Is your feature request related to a problem? Please describe.
-As we know it was very difficult to write code by using class components in a react app of having such a large code base.
-Also in many sections of the code this.state and this.props is used a lot of times so, to make the code look cleaner we can destructure the props and states.

### Describe the solution you'd like
-In my opinio

[2021-01-29 22:18] #50 closed, assigned to bismitaguha

[2021-01-30 19:02] Rahulm2310 commented on #67
@sagar-barapatre I suggest you to wait until a maintainer confirms and assigns the issue to you before creating a pull request.
Also, please remove `Please approve this issue and assign this to me.` from the issue description. Thanks 🙂

[2021-02-01 21:02] isabelcosta commented on #67
Thank you @Rahulm2310 for mentioning the contribution guidelines to @sagar-barapatre ! @Rahulm2310 is correct, that we prefer if you wait for issue approval before creating a PR. Thank you for creating the issue, that was the first step :)
This is a good issue @sagar-barapatre . I asked you some changes in the PR itself.

[2021-02-02 03:07] sagar-barapatre commented on #67
Thank you so much @isabelcosta @Rahulm2310 and sorry for not waiting until the maintainer confirms and assigns this issue to me.

[2021-02-02 18:26] aakankshaagr commented on #29
@vj-codes If this issue is available I would like to work on this issue.

[2021-02-02 19:37] emmanuelhashy commented on #29
No

On Tue, 2 Feb 2021, 19:26 aakankshaagr, <notifications@github.com> wrote:

[2021-02-04 03:35] Aaishpra commented on #10
@isabelcosta i would like to work on this issue but since #8 and #9 are also connected to this issue can i also get assigned to #8 and #9 and work on all of them, together.

[2021-02-04 21:21] isabelcosta commented on #10
@Aaishpra I agree, I understand these are big feature hard to breakdown. I am happy to assign those to you, however, can you get the change here done before https://github.com/anitab-org/open-source-programs-web/pull/57#issuecomment-766553783? its using css lib instead of custom CSS

[2021-02-05 05:51] Aaishpra commented on #10
@isabelcosta Done with the changes, hope everything is good at #57 and i can get assigned here now.

[2021-02-05 19:29] #63 closed, assigned to nobody

[2021-02-05 20:44] Rahulm2310 opened #70 "Add the setup tutorial video to Readme.md"
### Is your feature request related to a problem? Please describe.
Newcomers find it difficult to setup the project locally on their system due to vague instructions.

### Describe the solution you'd like
Add a setup tutorial video to Readme.md.
The [video](https://youtu.be/_b2RQGbYN9w) is already been recorded by @codesankalp.

[2021-02-05 20:47] Rahulm2310 commented on #70
@isabelcosta I think this can be a good first-timer issue.

[2021-02-05 21:23] isabelcosta commented on #70
Yes totally! @Rahulm2310
Thank you for creating this 🙌

And again @codesankalp thank you so much for the video!

[2021-02-06 10:41] #33 closed, assigned to Aaishpra

[2021-02-06 10:42] isabelcosta commented on #10
Will assign this and #9 #8 as part as the same issue. @Aaishpra

[2021-02-06 10:43] #8 closed, assigned to nobody

[2021-02-06 10:43] #9 closed, assigned to nobody

[2021-02-06 10:45] isabelcosta commented on #10
@Aaishpra I edited the issue description so it has more accurate title + design links + writing tests acceptance criteria.

[2021-02-06 10:48] Aaishpra commented on #10
Thanks for this 🎉

[2021-02-06 14:59] sagar-barapatre commented on #67
Thank you so much @isabelcosta 😀

[2021-02-06 18:06] khushishikhu opened #71 "docs: Add a documentation Section in the README.md"
### Is your feature request related to a problem?

Add a section in README.md which directs us to the wiki of the project.

### Describe the solution you'd like

Create a "Documentation" section with:
- link to the wiki for further information regarding the community
- link to open sessions which include the meeting minutes,
- link to the video of GSoC: https://youtu.be/3A746GppZ0Y
- link of addin

[2021-02-08 08:00] codesankalp opened #72 "Bug: Streamwise messages not showing on zulip stat card to admin"
### Describe the bug
Streamwise messages are not showing on zulip stat to admin because the condition to check streamwise messages is wrong.
We need to delete this condition of checking all streamwise messages by checking the message in the newcomer stream,  as it is not required. To test the message

### To Reproduce
Steps to reproduce the behavior:
1. Go to http://localhost:8000/admin/osp/userin

[2021-02-08 18:37] mayburgos commented on #29
You were assigned!

[2021-02-08 20:10] Rahulm2310 commented on #70
@isabelcosta Can I work on this as I have not contributed to the repo as well

[2021-02-08 22:49] isabelcosta commented on #70
Sure @Rahulm2310 ! I will assign this to you!

[2021-02-08 23:28] Aaishpra commented on #37
@Rahulm2310 please unassign from this issue as you got assigned to #70 (please try to follow contribution guidelines) and I see no updates regarding your work in the issue.

Cc: @isabelcosta

[2021-02-09 07:00] Amulya-coder commented on #70
@isabelcosta this issue is addressed in #71 can you please check it once! . Thanks 🙂.

[2021-02-09 13:09] emmanuelhashy commented on #29
No

On Mon, 8 Feb 2021, 19:38 May, <notifications@github.com> wrote:

[2021-02-09 15:59] codesankalp commented on #72
@isabelcosta Can you please add labels to this issue?
As It is a beginner issue so a newcomer can solve this issue :relaxed:

[2021-02-09 16:27] Rahulm2310 commented on #37
@Aaishpra As you can see I tried tagging several author/members regarding the issue but got no response from any one. (I think the last few comments explains it all). I am unassigning myself. Thanks 🙂

[2021-02-09 17:38] codesankalp commented on #37
@Rahulm2310, @Aaishpra , @isabelcosta  I have checked it, and as the login is just a POST request from the web, the backend just returns token if credentials are correct else it returns `no active account found`. This message response must be handled from the backend.

[2021-02-09 18:24] Rahulm2310 commented on #37
Yes, we were thinking the same. Thanks @codesankalp

[2021-02-09 23:04] isabelcosta commented on #72
thank you @codesankalp for helping triage!

[2021-02-10 00:07] isabelcosta commented on #70
@Amulya-coder it's ok to have it mentioned also in the setup, since it's related to it, like a footnote of the setup section ;) The issue you mentioned, I updated it and it has to do with documentation section in the readme

[2021-02-10 19:08] Rahulm2310 commented on #31
@abha224 @isabelcosta There is no activity from @Sonal240 . Can I work on this and develop the home page ?

[2021-02-10 19:51] Rahulm2310 opened #74 "Bug: Incorrect active tab on refresh"
### Describe the bug
After refreshing the page, the menu shows active tab as Dashboard even if the route is at /forms or /submission

### To Reproduce
Steps to reproduce the behavior:
1. Go to http://localhost:3000/submission
2. Refresh page
4. See error

### Expected behavior
Active tab should be the same as the active route.

### Screenshots
![osp-tab-issue](https://user-images.githubusercontent

[2021-02-10 19:52] Rahulm2310 commented on #74
@isabelcosta Can you please confirm/approve this issue? This can be a good `First Timers only` issue.

[2021-02-10 21:07] prachinandi commented on #71
@isabelcosta  Ma'am can I take this issue  if it's not assigned to anyone yet

[2021-02-10 22:59] isabelcosta commented on #71
@prachi237 I suggested this issue to another contributor, https://github.com/anitab-org/documentation/issues/3#issuecomment-776571715 who shown interest in working on this before. I forgot to mention that the comment should be here. Could you please check another issue? We're working on having more first timers only 🤗

@devifeoma could you please leave a comment here, so I can assign this to you?

[2021-02-10 23:27] #70 closed, assigned to Rahulm2310

[2021-02-11 08:45] devifeoma commented on #71
Hi, I’m interested.

On Wed, Feb 10, 2021 at 11:59 PM Isabel Costa <notifications@github.com>
wrote:

[2021-02-11 12:25] prachinandi commented on #72
@isabelcosta  Ma'am if this issue is not assigned can I take it

[2021-02-11 20:37] isabelcosta commented on #72
yes @prachi237 🤗 Will assign it to you!

[2021-02-11 20:41] isabelcosta commented on #71
@devifeoma it's assigned to you now :)

[2021-02-11 20:55] devifeoma commented on #71
Thanks

On Thu, Feb 11, 2021 at 9:41 PM Isabel Costa <notifications@github.com>
wrote:

[2021-02-11 21:09] prachinandi commented on #72
Thanku ma'am😊

[2021-02-12 07:55] jalajcodes opened #75 "Add Code Linter and Formatter to enhance code quality and maintain consistency."
### Is your feature request related to a problem? Please describe.
It is necessary for a project to have clear consistent coding conventions. Besides that linting is also very helpful for finding certain classes of bugs and fixing them before runtime.

### Describe the solution you'd like
[Eslint](https://eslint.org) and [Prettier](https://prettier.io) are by far the most popular code linter and f

[2021-02-12 07:56] jalajcodes commented on #75
@isabelcosta Please add labels to this issue. Also, I'd like to work on it. 😀

[2021-02-12 17:20] pranay-simejia opened #76 "Refractor code to use functional components."
### Is your feature request related to a problem? Please describe.
As mentioned in React Docs after react-hook support, one should prefer using functional components.

### Describe the solution you'd like
Convert all class based components to functional components.

### Describe alternatives you've considered
for example, componentdDidMount can be replaced by useEffect hook.

[2021-02-12 17:21] pranay-simejia commented on #76
Can I work on this issue?

[2021-02-12 18:37] subodhk01 commented on #67
What's the status in this issue? I would love to help

[2021-02-12 18:39] subodhk01 commented on #29
Is someone working on this issue? I would love to help

[2021-02-12 18:41] subodhk01 commented on #4
@vj-codes Is this issue available?

[2021-02-12 19:06] vj-codes commented on #4
@jalajcodes hey are you still working on this?

[2021-02-13 00:19] sagar-barapatre commented on #67
@subodhk01 The PR has already been made for this issue by me and it's under review.

[2021-02-13 01:18] Rahulm2310 commented on #29
@subodhk01 Thanks for showing interest but it is already been assigned to @aakankshaagr . Feel free to look through some other available issues.
@mayburgos Can you please remove the `Available` label as it might be confusing for a contributor. Thanks 🙂

[2021-02-13 01:22] jalajcodes commented on #4
It was not a priority so I didn't started working on it yet. Is it okay to work on it now?

cc: @isabelcosta

[2021-02-13 01:40] Aaishpra commented on #4
This issue should be put on hold @vj-codes @jalajcodes since completing the MVP is the priority right now.

[2021-02-13 09:41] subodhk01 commented on #4
Can I work on this issue?

[2021-02-13 10:12] subodhk01 opened #77 "Error: Cannot read property 'data' of undefined"
### Describe the bug
First time I started the project and recieved this error

### To Reproduce
Steps to reproduce the behavior:
1. npm i
2. npm start
3. Go to http://localhost:3000/
4. See error

### Screenshots
<img width="1046" alt="Screenshot 2021-02-13 at 15 41 59" src="https://user-images.githubusercontent.com/19875783/107847475-0490d780-6e12-11eb-9c2d-ba225dd0e9fb.png">

### Desktop (please

[2021-02-13 10:13] subodhk01 commented on #77
Hey @isabelcosta , Can you approve this issue? and also if approved, Can I work on this issue?

[2021-02-13 10:18] subodhk01 commented on #77
Ohh okhay, there was a problem with my backend server.

[2021-02-13 10:18] #77 closed, assigned to nobody

[2021-02-13 11:11] Amulya-coder opened #78 "docs: Include licence section in Readme"
### Is your feature request related to a problem? Please describe.
 It's good to mention about the license under which the organization follows. Currently, there is no licence added in the readme.

### Describe the solution you'd like
Add license section in the readme this is a great way to encourage more free, open-source code.

### Additional context
Here's is the link: https://github.com/anitab

[2021-02-13 12:48] ayan-biswas0412 commented on #78
@Amulya-coder can I work in this issue ? I will love to.🥰 contribute in this community

[2021-02-13 12:53] isabelcosta commented on #77
that's interesting @subodhk01 ! what was the issue? So that, if anyone finds the same issue, your answer can perhaps help them

[2021-02-13 12:54] isabelcosta commented on #67
@subodhk01 you can totally help! You can help to review the PR, please :) We need more reviewers

[2021-02-13 12:57] isabelcosta commented on #75
Sure @jalajcodes :)

[2021-02-13 13:24] Amulya-coder commented on #78
Sure @ayan-biswas0412, Welcome to the community🎊.

[2021-02-13 13:26] Amulya-coder commented on #78
@isabelcosta can you please label this issue and assign it to @ayan-biswas0412.

[2021-02-13 13:47] ayan-biswas0412 commented on #78
Thank you @Amulya-coder 😁 I will love to contribute in this organisation in future also and I have made a PR #79 for this license addition

[2021-02-13 13:58] codesankalp commented on #77
@isabelcosta this error comes when the backend server is not running and a request to the API returns undefined.

[2021-02-13 14:29] ayan-biswas0412 commented on #69
@shruti1421 I also agree with you , I want to contribute in this issue also for the other pages in the repo.

[2021-02-13 14:43] Amulya-coder commented on #78
@ayan-biswas0412  I suggest when contributing to an open-source project, please wait for a maintainer to assign you the issue before creating a pull request. I think the maintainers also respect the fact that we all are excited to contribute to open source but be patient. Please have a look at the [contributing guidelines](https://github.com/anitab-org/open-source-programs-web/blob/develop/.github

[2021-02-13 14:49] ayan-biswas0412 commented on #78
@Amulya-coder yes I understand the fact and I am apologising for my fault , and I will not do it again .Thanks

[2021-02-13 15:05] jalajcodes commented on #77
These are the cases where typescript shines out... anyways I think we should fix it so it doesn't happen with anyone else (show an error maybe?)

[2021-02-13 15:15] subodhk01 commented on #77
I agree @jalajcodes , we can show something that makes it clear for what the error is

[2021-02-13 15:15] subodhk01 commented on #67
Sure I would love to review it

[2021-02-13 16:31] Rahulm2310 commented on #77
yes, we should render a custom error message like `Network Error `or something when data is undefined.

[2021-02-13 16:37] Rahulm2310 commented on #75
@isabelcosta isn't #36 fixing the formatting issue i.e adding `prettier`

[2021-02-13 16:39] Rahulm2310 commented on #76
@pranay-simejia I don't think this should have a priority currently. But, yeah, please wait for a maintainer to confirm/approve this issue before starting to work on the fix. Thanks 🙂

Cc: @isabelcosta

[2021-02-13 16:43] Rahulm2310 commented on #78
@ayan-biswas0412 hey, don't feel sorry man! It is for a contributor's betterment so that their efforts not go in vain. Cheer up🙂

[2021-02-13 16:59] isabelcosta commented on #78
@Amulya-coder thank you for highlighting the guidelines ❤️
@ayan-biswas0412 I just assigned to you, will review the PR soon.

[2021-02-13 17:37] isabelcosta commented on #75
Uhhhh I guess, thank you for pointing that our @Rahulm2310 !
I will close that though since the contributors are no longer active.
closes #36

[2021-02-13 17:38] Rahulm2310 opened #81 "Feat : Moving the documentation to docusaurus"
### Is your feature request related to a problem? Please describe.
Current documentation is fine but with docusaurus , the documentation becomes more readable and maintainable

### Describe the solution you'd like
Moving the project's documentation to [docusaurus](https://v2.docusaurus.io/)

### Additional context
Link to the discussion [here ](https://anitab-org.zulipchat.com/#narrow/stream/23790

[2021-02-13 17:39] Rahulm2310 commented on #81
@isabelcosta I would like to work on this. Thanks 🙂

[2021-02-13 17:54] ayan-biswas0412 commented on #78
yeah, thanks man for your kind words and your organization is very kind to developers like us 🥰

[2021-02-13 18:12] Rahulm2310 commented on #78
@ayan-biswas0412 I am a contributor like you, nothing more than that 🙂

[2021-02-13 18:36] #78 closed, assigned to ayan-biswas0412

[2021-02-13 21:05] isabelcosta commented on #76
@pranay-simejia , @Rahulm2310 is correct. Right now we are trying to get this project to the MVP (minimum viable product) status. You can find more information on documentation [on this zulip message](https://anitab-org.zulipchat.com/#narrow/stream/237907-open-source-progs/topic/Open.20Sessions/near/225236028).
However, how much effort do you think this requires? Also, could you check on Zulip if

[2021-02-14 09:06] pranay-simejia commented on #76
Switching to functional components can be done within 2 days. Single person's job.
@isabelcosta

[2021-02-14 09:18] jalajcodes commented on #76
Yeah I think there's also a vscode extension to do this too😅 I can't remember its name 🤔

[2021-02-14 09:35] ayan-biswas0412 commented on #76
i think @jalajcodes you are talking abou this https://marketplace.visualstudio.com/items?itemName=wix.glean

[2021-02-14 14:32] shruti1421 commented on #76
I have also created this same issue earlier. Here is the issue number #69.
If you give confirmation for this issue, I would to like to work on this.

[2021-02-14 15:05] Aaishpra commented on #76
@shruti1421 @pranay-simejia since we are currently focusing more on completion of MVP(minimum viable product) i don't think this issue is of much use at this moment (considering it will require change in a lot of files and can cause a blocker to other features as well as current PRs) this issue can be put to hold until we have enough features and workforce for managing the project

[2021-02-14 15:14] ayan-biswas0412 commented on #76
but I think it will not be a huge task but in future when the codebase will be large then converting this thing will be a great problem but currently it is doable I think

cc. @isabelcosta

[2021-02-14 15:14] ayan-biswas0412 commented on #76
ok

[2021-02-15 06:30] codesankalp opened #82 "Feature: Deploy the develop branch on heroku."
### Is your feature request related to a problem? Please describe.
The final phase of any project is the successful deployment so that users can interact with it in production.
This website is currently under development but it will be beneficial for newcomers or any contributors to see the website in the production and know about this project detail.

### Describe the solution you'd like
1. Work

[2021-02-15 06:36] codesankalp commented on #82
@isabelcosta Can you please add labels to this issue?

[2021-02-15 12:14] codesankalp opened #83 "Feature: Activate new registered users by making API request"
### Is your feature request related to a problem? Please describe.
For a complete basic authentication system, we need to activate the newly registered users.
When a newly registered user clicks on the activation link sent to the mail it results in a redirection to the Login Page.

### Describe the solution you'd like
Create a new URL in `urls.js` for activating user which will make a GET request

[2021-02-15 12:18] codesankalp commented on #83
@isabelcosta After solving these issues:
1. #83
2. https://github.com/anitab-org/open-source-programs-backend/issues/81

Registering new users will work perfectly.

Can you add labels to it?

[2021-02-15 12:40] codesankalp commented on #83
I would like to work on this issue @isabelcosta .

[2021-02-15 18:26] Rahulm2310 opened #84 "docs: Add Badges to readme"
### Is your feature request related to a problem? Please describe.
Add Badges to readme.md.

### Describe the solution you'd like
Here's a few commonly used badges in our repositories:
![image](https://user-images.githubusercontent.com/54268438/107982048-5e97c580-6fe9-11eb-8ad7-58ea512236fa.png)

Feel free to add some more if relevant. https://shields.io/category/activity

[2021-02-15 18:28] Rahulm2310 commented on #84
@isabelcosta Please label it as a `first timer` issue. Thanks 🙂

[2021-02-15 19:13] isabelcosta opened #85 "Mock Zulip response when running tests"
## Description
As a developer,
I need to run tests without depending on Zulip 3rd party service,
so that I can keep the test results only dependant on our project code.

The idea is to mock Zulip API client, make sure that we do not depend on this service when running tests.

## Acceptance Criteria
### Update [Required]
- [ ] Run tests without the need of Zulip API Key

## Definition of Done
- [ ]

[2021-02-16 10:42] Aaishpra opened #86 "Feat: Deploy from Github Actions"
## Is your feature request related to a problem? Please describe.
Creation of deploy.yml file from Github Actions for temporary deployment of Pull request

## Describe the solution you'd like
Creation of deploy.yml file in .github/workflow category

[2021-02-16 10:45] Aaishpra commented on #86
@isabelcosta please add labels to the issue and if you allow can i work on this while working on #10 simultaneously. (it's a big feature and it will take some time to be completed 😬while this issue requires less work)

[2021-02-16 15:11] Amulya-coder opened #87 "Create the config.yml file for the Welcome Bot."
## Description
As a first time contributor,
I need a bot to help guide my first contribution,
so that I can follow this org's contribution guidelines.

## Mocks
![image](https://user-images.githubusercontent.com/66437295/108081672-3797cd00-7097-11eb-85c3-8ba3fbda2d3b.png)

## Acceptance Criteria
### Update [Required]
- [ ] newIssueWelcomeComment is complete with the correct links to this repo.
- [

[2021-02-16 15:12] Amulya-coder commented on #87
@isabelcosta can you please add labels to this issue. Thanks 😊.

[2021-02-16 17:18] Rahulm2310 commented on #86
@Aaishpra Let's give someone else a chance as you got assigned to #10 (please try to follow contribution guidelines).

[2021-02-16 20:37] Rahulm2310 commented on #81
@isabelcosta @Aaishpra I have migrated all the pages from wiki to docusaurus. Here's the [link](http://osp-web-docs.surge.sh/). Please share your views. Thanks 🙂

[2021-02-16 21:17] isabelcosta commented on #86
where would you deploy this project to @Aaishpra ?
Regarding working on this, if you had a PR waiting for review, it would be ok, but since you are still in progress we prefer that people focus on working on one at a time. Do you want to drop that other issue and work on this one instead?

[2021-02-17 11:47] Aaishpra commented on #86
@isabelcosta sorry for this issue I got a bit confused with GitHub actions deploy and deploying to github-pages but now know both are same thing and we agreed on not deploying the project to github pages in the last session (issue of navigation) so there is no need of this issue.
Hence closing this and I will continue working on #10

[2021-02-17 11:47] #86 closed, assigned to nobody

[2021-02-17 12:15] Aaishpra commented on #87
@Amulya-coder this is a duplicate of #59 if you want to work on #59 can you comment there and close this issue.

[2021-02-18 06:41] aditmehta9 commented on #87
Closing this issue because it is dupliacte

[2021-02-18 06:41] #87 closed, assigned to nobody

[2021-02-18 06:43] aditmehta9 commented on #59
@Aaishpra assigned you.

[2021-02-18 06:47] Aaishpra commented on #34
Closing this because we have #75

[2021-02-18 06:47] #34 closed, assigned to nobody

[2021-02-18 06:49] Aaishpra commented on #69
Duplicate of #76

[2021-02-18 06:49] #69 closed, assigned to nobody

[2021-02-18 06:53] Aaishpra commented on #74
Issue confirmed

[2021-02-18 07:10] Aaishpra commented on #75
@jalajcodes if no-one replies on [your comment](https://anitab-org.zulipchat.com/#narrow/stream/237907-open-source-progs/topic/Open.20Sessions/near/226677800) on Zulip in 2-3 days then you can go on and submit the PR. Although we decided to discuss this matter,but I think not many people are interested in the discussion so you can go forward with what you consider to be best for the project, and t

[2021-02-18 07:15] jalajcodes commented on #75
Ok 😉

[2021-02-18 08:16] Amulya-coder commented on #59
Alright, @Aaishpra this issue is already existing, thanks for informing :) as currently, no one is working on this. I would like to be assigned.

[2021-02-18 08:26] Aaishpra commented on #59
Assigned you 🎉

[2021-02-18 17:02] NegiAkash890 commented on #84
I would like to update the same .

[2021-02-18 19:33] isabelcosta commented on #84
you want to work on this issue, is that what you mean @NegiAkash890 ? I will assign this to you :)

[2021-02-18 19:54] isabelcosta commented on #81
looks cool :) @Rahulm2310 please submit the PR so we can add reviews 🎉

[2021-02-19 05:10] Amulya-coder opened #89 "docs: Improve Issue templates and Pull request templates"
### Is your feature request related to a problem? Please describe.
As I saw in the Issue template there are descriptions like `A clear and concise description of what you want to happen.` which is also shown in the preview window unless I remove it manually so it was a time taking process, the description like above should be commented as they are for Author's eye only.

### Describe the solution

[2021-02-19 05:11] Amulya-coder commented on #89
@isabelcosta Can you please label it as a `First Timers only issue.` Thanks 🙂

[2021-02-20 15:58] shruti1421 commented on #89
I would like to work on this issue. Please assign this to me.

[2021-02-21 05:18] jeeva2812 commented on #65
I am willing to take up this issue. Do you expect it to be added to the contributing guidelines?

[2021-02-21 08:07] Aaishpra commented on #10
Update : I am still working on this issue, and have completed some of my work, but due to poor health and hectic university schedule i will not be able to devote much time this week by working here, but i am still interested in completing this feature and would resume my work after being healthy.
Hope everyone is okay with that.

[2021-02-21 15:09] jeeva2812 commented on #74
@Aaishpra I am willing to try. Can you please assign me for this issue?

[2021-02-21 15:29] Aaishpra commented on #74
Assigned you
Happy coding 👍🏻

[2021-02-21 16:22] jeeva2812 commented on #74
@Aaishpra @Rahulm2310 I have created PR, please do review.

[2021-02-21 20:15] isabelcosta commented on #10
@Aaishpra take care of your health ❤️ thank you for updating!
If you eventually prefer to deliver a small portion of this feel free to do this, I know this is a huge feature. You do not need to implement the whole thing.

[2021-02-21 21:31] isabelcosta commented on #89
@shruti1421 its assigned to you :)

[2021-02-21 22:48] Joy-FrontEnd commented on #49
Would like to contribute on this.

[2021-02-21 22:55] isabelcosta commented on #49
Hey @Joy-FrontEnd :) I will assign it to you.
Let us know if you have any doubt :) Happy coding!

[2021-02-22 07:17] Aaishpra commented on #10
Thanks, @isabelcosta for understanding 🤗 let's see how much I can implement (when I get back to it again), I will update you if I change my mind about implementing just some features instead of the whole thing.

[2021-02-22 21:18] #81 closed, assigned to Rahulm2310

[2021-02-23 09:43] Joy-FrontEnd commented on #49
@isabelcosta  still figuring this out 😐 Is there a deadline for it?

[2021-02-23 09:57] Aaishpra commented on #49
@Joy-FrontEnd no there is no deadline for completing this issue, you can work on it for how much time you want to, but please update us with your progress from time to time, and if you face any doubts/confusion post it on [Zulip](https://anitab-org.zulipchat.com/#narrow/stream/237907-open-source-progs) or here in the comments. Usually, we ask for updates after 3 days but since this is a pretty big

[2021-02-23 10:09] Joy-FrontEnd commented on #49
@Aaishpra Thank you so much. And yes it is overwhelming 😅😅 but will figure it out. Fingers crossed!

[2021-02-23 21:28] #89 closed, assigned to shruti1421

[2021-02-23 23:05] isabelcosta commented on #49
yap @Aaishpra is correct :)
Also, don't be afraid of reaching out to the community to help out ;) you want to maximize your learning here. @Joy-FrontEnd

[2021-02-23 23:09] #74 closed, assigned to jeeva2812

[2021-02-24 04:55] jalajcodes opened #95 "Dockerize OSP Web Application"
## Description
As a developer,
I need a way to run the app using Docker,

so that I can quickly setup my dev environment without any hassle and focus more on writing code.

## Acceptance Criteria
- [ ] Create a Dockerfile and Docker compose file to run the project using one command
- [ ] Update project readme with instructions on running the program using Docker.

## Definition of Done
- [ ] All o

[2021-02-24 05:00] jalajcodes commented on #95
Hi @isabelcosta, please add labels to it.

Also, I created a PR for the [issue](https://github.com/anitab-org/open-source-programs-web/issues/75) I was assigned to. I would love to work on this one after that one gets reviewed.

[2021-02-24 05:33] ashwinijha6 commented on #82
Hey @codesankalp I would like to work on this

[2021-02-24 06:44] Aaishpra opened #96 "Docs: Delete ISSUE TEMPLATE folder from .github"
## Description

As an org admin or maintainer,
We need to maintain 1 version of issue templates used in the organization,
so that we can avoid duplicating work and having different versions of the templates when we want to use the same ones across all projects.

Because the issue templates are now on https://github.com/anitab-org/.github, we don't need to have issue templates present in the reposi

[2021-02-24 06:50] Aaishpra commented on #29
What are your updates @aakankshaagr are you still working on this or are you stuck somewhere do you need help? please update us in a maximum of 2 days or this issue will be made available for others

[2021-02-24 14:31] aakankshaagr commented on #29
@Aaishpra  I am still working on this issue. I am working for the first time on such issues so it's taking me longer. I am sorry for the delay. I think by this week this issue will be solved. I will surely update my progress after every 2 days.

[2021-02-24 15:37] codesankalp commented on #82
@ashwinijha6 We need a deployed backend before this.
Adding `Status: on hold` as the deployed backend is required first.

[2021-02-24 15:39] ashwinijha6 commented on #82
Ok got it @codesankalp

[2021-02-24 15:40] codesankalp commented on #72
@prachi237 Any updates on this issue? Do you need any help or suggestion?

[2021-02-24 18:42] Rahulm2310 commented on #71
Hey @devifeoma, it would be great if you could share your progress on this.

[2021-02-24 18:51] Rahulm2310 opened #97 "Feat: Develop homepage for the website"
### Is your feature request related to a problem? Please describe.

As a user, I need a home page for the website to know more and get a better clarity about the project.

### Describe the solution you'd like

Develop the home page for the website.

### Additional context

Mock Up for reference:
![87044100-b54b4e80-c213-11ea-9e8e-6ef64f242585](https://user-images.githubusercontent.com/54268438/109

[2021-02-24 18:52] Rahulm2310 commented on #97
@isabelcosta I would like to work on this. 🙂

[2021-02-24 18:54] codesankalp commented on #83
@isabelcosta Can I start working on this as the login feature is not working?

[2021-02-24 19:22] #84 closed, assigned to NegiAkash890

[2021-02-24 19:27] isabelcosta commented on #83
assigned to you @codesankalp

[2021-02-24 20:43] isabelcosta commented on #97
@Aaishpra @codesankalp this is not a priority, but can still be done 🤷🏾‍♀️ what do you think? If yey, then please assign this :)

[2021-02-25 01:57] Aaishpra commented on #97
@isabelcosta from the discussion in #31 I came to know that osp isn't following any design/margin guidelines (means the above design was made without keeping in mind the AnitaB design and colour guidelines) and at some point of time in future(when the MVP is completed) I think we might want to have some specific design guidelines for the project (like BIT) which would mean redesigning of this page

[2021-02-25 06:56] Aaishpra commented on #29
No problem @aakankshaagr i just wanted to remind you about the issue, it's good that you are still interested in the issue and workinh on it. Let us know if you face any doubts 😉

[2021-02-25 08:16] codesankalp commented on #97
Yes, @isabelcosta I totally agree with @Aaishpra , we need to discuss #31 before this issue due to the reasons mentioned by @Aaishpra and the Logo is also not present in the design.
Although the homepage is also an important part of the website, we need approved designs before moving on to developing the website homepage as it is the main focus of the users (so better UX & UI is needed).
So my fin

[2021-02-25 09:10] Joy-FrontEnd commented on #49
@isabelcosta I've sort of figured out how the submission dashboard would look like for the admin to be able to view and modify the form submission using react-admin. I know how to this using a json placeholder api endpoint. In this case is there an api I could use or how do I access the data to be displayed. Don't know if am making sense but please guide me if there's something am missing.

[2021-02-25 09:17] codesankalp commented on #49
@Joy-FrontEnd There is an API for this. You have to set up https://github.com/anitab-org/open-source-programs-backend to get the data to be displayed from API request.
Is this answered your question or you were asking something else?

[2021-02-25 09:23] Joy-FrontEnd commented on #49
@codesankalp Thank you. I saw a video on how to do so and was wondering, can I use the Vs code terminal to set it up or I have to use my local terminal? Still getting the hang of it. 😀

[2021-02-25 09:39] codesankalp commented on #49
You can use any terminal @Joy-FrontEnd.

[2021-02-25 12:50] prachinandi commented on #72
😅sorry, for the delay I had exams, I started working on this issue again . Will send the PR asap

[2021-02-25 22:08] isabelcosta commented on #49
Very glad you saw the documentation video made by @codesankalp about it:)

Yap, any terminal. I sometimes use the mac terminal app, other times I use VScode terminal 👍🏾 @Joy-FrontEnd

[2021-02-25 22:25] isabelcosta commented on #97
Ok, let's ask for help of design team for this then :) Thank you for your inputs! I put the label as on hold

[2021-02-26 04:33] Amulya-coder commented on #59
@Aaishpra can I simultaneously work on [this](https://github.com/anitab-org/open-source-programs-backend/issues/89) issue also as both are the same I will create the pr of that also while working on this issue so these both get solved what say?

[2021-02-26 04:43] Aaishpra commented on #59
@Amulya-coder i would have assigned you to both issues at the same time because they were in different repos( ie web and backend) but since you are already a contributer in the backend repo(and this issue is meant for first timers only) i would recommend you to work on this here (ie at web) and leave the other one for newcomer. If you want to work on any other issue at the backend(not any first ti

[2021-02-26 11:45] tosimia commented on #96
May I be assigned to this task?

[2021-02-26 11:50] Aaishpra commented on #96
Assigned @tosimiadesoye

[2021-02-26 11:51] tosimia commented on #96
Thanks!

[2021-02-26 12:08] Aaishpra commented on #96
@tosimiadesoye while deleting the issue template can you also change the current link for bug_report.md file mentioned in 8th point of [Contributing.md](https://github.com/anitab-org/open-source-programs-web/blob/develop/.github/CONTRIBUTING.md) to this [link](https://github.com/anitab-org/.github/blob/main/.github/ISSUE_TEMPLATE/bug_report.md)

[2021-02-26 12:11] tosimia commented on #96
Okay, I'll

[2021-02-26 18:58] #96 closed, assigned to tosimiadesoye

[2021-02-27 19:32] Rahulm2310 opened #100 "Bug: Remove irrelevant options from checklist in PULL_REQUEST_TEMPLATE.md"
### Describe the bug
There is a option ` I have written Kotlin Docs whenever is applicable` under the checklist in PULL_REQUEST_TEMPLATE.md. (I think due to copy-pasting the file from some other project).

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://github.com/anitab-org/open-source-programs-web/blob/develop/.github/PULL_REQUEST_TEMPLATE.md
2. See error

### Expected behavio

[2021-02-27 19:33] Rahulm2310 commented on #100
@isabelcosta @codesankalp Can you please add labels to it. This can be a good `First Timers only` issue. 🙂

[2021-02-27 21:06] isabelcosta commented on #100
awesome catch @Rahulm2310 ;) thank you so much! Also I added the first timers only issue, but if you wish to do this, its also fine ;) you found it. just saying

[2021-02-28 07:26] aakankshaagr commented on #29
@Aaishpra  Earlier I forgot to ask before starting working on this issue. I saw that in swagger UI required verification and confirmation messages are present for user registration. Only email confirmation of account verification is absent. So, I have created a template for account verification successfully.
So what I have done is correct or not?
If not then can anyone help me by explaining this i

[2021-02-28 07:47] Aaishpra commented on #29
I believe it is correct as the issue mentions only about creation of UI and not about the implementation part, means a template is enough.
Can you show us the template here in the comments and everyone here can review it.

[2021-02-28 10:04] aakankshaagr commented on #29
Yeah sure @Aaishpra.I have 2 templates in my mind.Other email templates are simple. So below one is the simple email which I thought of

![image](https://user-images.githubusercontent.com/71868375/109414507-380a5f00-79d9-11eb-900f-929892474a15.png)

 Shall I add a tick sign or party-popper image before congratulations at center and even increase text size?

![image](https://user-images.githubuserc

[2021-02-28 11:02] Aaishpra commented on #29
@aakankshaagr the project you are working for is open source programs not mentorship system.
And i think the last line should be AnitaB.org along with the link to AnitaB website instead of systers open source.
And i like the above template better.

Tagging @isabelcosta and @codesankalp so that they can also give their input here.

[2021-02-28 11:07] Aaishpra commented on #29
Now i see you were confused between mentorship system and Open Source Programs since start, as you mentioned about swagger UI in one of your comment.😅

No problem though, just need a little bit tweaks here and there and everything will be fine.

[2021-02-28 12:09] aakankshaagr commented on #29
Yeah I was confused between both 😅
thanks @Aaishpra , Now I got it. I will make changes as you have suggested.

[2021-02-28 19:11] Rahulm2310 commented on #95
@isabelcosta @jalajcodes If you don't mind, can I try this as you are assigned to #75

[2021-03-01 02:25] jalajcodes commented on #95
I was hoping to work on it...

I created pr for #75  5 days ago, its ready to be merged.

[2021-03-01 04:28] Rahulm2310 commented on #95
Okay, no issues @jalajcodes. Go ahead 👍😊

[2021-03-02 04:30] NegiAkash890 commented on #97
I would like to contribute when the design gets finalized/approved .
 Thank You

[2021-03-02 13:31] aakankshaagr commented on #29
I have made changes, as suggested by @Aaishpra.I, have attached the final drafts of both designs. @isabelcosta @Aaishpra @codesankalp Please review the designs.

Design 1 :
![image](https://user-images.githubusercontent.com/71868375/109654045-be64a380-7b87-11eb-9838-23b4166ad358.png)

Design 2:
![image](https://user-images.githubusercontent.com/71868375/109653500-1bac2500-7b87-11eb-8b1b-94874d5004

[2021-03-03 06:49] codesankalp commented on #29
@Aaishpra I want to ask that is this issue is related to making a web-page for email confirmed UI to display on frontend or for making an email template that needs to be sent via mail after email is Confirmed?
And the draft made by @aakankshaagr looks good but looks like email templates.

[2021-03-03 09:37] Aaishpra commented on #29
@codesankalp the issue description and issue heading seems very confusing now when I see it properly, for example, the issue headline suggests "Create email confirmed UI" which I think means creating an email template, but the issue description contains this line " I need to see an email confirmation message in osp once verification is done." which in my view means creating a design/UI for the web

[2021-03-03 09:40] aakankshaagr commented on #29
I also had this doubt that @codesankalp has asked. According to the issue description, I think it will be displayed on the OSP after the account is verified. So, I think I have to create a webpage, not an email template.

[2021-03-03 10:04] aakankshaagr commented on #29
Is this webpage okay @Aaishpra @codesankalp @isabelcosta?

![image](https://user-images.githubusercontent.com/71868375/109789051-edd1e980-7c35-11eb-9515-e3c2ed566482.png)
 I think I should remove "Welcome to AnitaB.Org" and in place of "To get started" ,`" For more information "` suits better.

[2021-03-03 11:10] codesankalp commented on #29
@Aaishpra There is no email template for the email confirmation.
But if we want to send it by email then this issue must be opened in the backend Repo.
There is so much confusion in this. Why don't we ask about it to @abha224 and @isabelcosta? They can better explain this.

[2021-03-03 17:38] Rahulm2310 opened #104 "Feat: Add Code of Conduct, Terms & Privacy Policy on register page"
### Is your feature request related to a problem? Please describe.
Currently we don't show Code of Conduct, Terms & Privacy Policy on the register page.

### Describe the solution you'd like
We should add links to these files or add a modal popup displaying these add a checkbox to ask user to accept .

### Additional context
This has been implemented on bridge-in-tech project. More about it can be

[2021-03-03 17:41] Rahulm2310 commented on #104
@isabelcosta Do you think this is valid ? If yes I would like to implement it. Thanks 🙂

[2021-03-04 12:32] nlok5923 opened #105 "Bug: Login and sign up page get compress in different resolution"
### Describe the bug
Login and register page compresses in different resolutions probably when resolution is less than 480 X 671

### To Reproduce
Steps to reproduce the behavior:
1. Go to Landing page
2. Resize login and register page

### Expected behavior
It should hold a flexbox property that login and register component should acquire the center upper half or lower upper half area of landing

[2021-03-04 14:38] codesankalp commented on #105
Yes, @nlok5923 this is a valid UI issue. I was also thinking to open it in the future.
Also, In mobile view, it is not responsive and looks bad.
![image](https://user-images.githubusercontent.com/56037184/109979799-49c76b80-7d25-11eb-9754-a5bb8bd0ae36.png)

[2021-03-04 18:04] codesankalp opened #106 "Add GitHub Oauth Login and Registration"
## Description
As a developer,
I need to implement GitHub sign on,
so that I can allow GitHub users to login using their GitHub account.

For being able to use the application, the user has to create a new account and confirm the email just to log in. It's a long process. So by having GitHub OAuth we can make the process shorter for users who have a GitHub account.

## Acceptance Criteria
### Upda

[2021-03-04 18:52] Rahulm2310 opened #108 "Bug: Incorrect link to zulip stream in CONTRIBUTING.md"
### Describe the bug
The link to [#open-source-progs](https://anitab-org.zulipchat.com/#narrow/stream/237907-open-source-progs) stream in CONTRIBUTING.md is incorrect.

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://github.com/anitab-org/open-source-programs-web/blob/develop/.github/CONTRIBUTING.md
2. Click on `#open-source-progs`
3. See error

### Expected behavior
The link sh

[2021-03-04 18:54] Rahulm2310 commented on #108
@isabelcosta @codesankalp Please add labels to this. This can be a good `First timers only` issue.

[2021-03-04 18:58] codesankalp commented on #108
@Rahulm2310 It's showing correct to me.
![image](https://user-images.githubusercontent.com/56037184/110015159-94f37580-7d49-11eb-86f5-a8c776e835bf.png)
The page is opening a modal for joining the stream.

[2021-03-04 19:18] Rahulm2310 commented on #108
@codesankalp Yes for me as well, but the correct stream link should be https://anitab-org.zulipchat.com/#narrow/stream/237907-open-source-progs

[2021-03-05 08:36] Amulya-coder opened #109 "Bug : Incorrect link to reporting guidelines in CODE_OF_CONDUCT.md"
### Describe the bug
The links to reporting guidelines is incorrect in the code of conduct file.

### To Reproduce
Steps to reproduce the behavior:
1. Go to 'https://github.com/anitab-org/open-source-programs-web/blob/develop/CODE_OF_CONDUCT.md'
2. Scroll down to Reporting guidelines section
3. Click on [Reporting Guidelines](https://github.com/anitab-org/open-source-programs-web/blob/develop/repo

[2021-03-05 08:38] Amulya-coder commented on #109
@isabelcosta can you please add a label to it as `First-Timer only issue`. Thanks 🙂

[2021-03-05 08:52] nlok5923 commented on #109
I would like to work on it it will be mine first contribution to this project.

[2021-03-05 09:02] codesankalp commented on #109
@nlok5923 **Assigning you.**

[2021-03-05 09:45] chinmaym07 opened #111 "Add Google Oauth SignUp"
### Description.
As a developer,
I need to implement Google sign in,
so that I can allow Users to login using their Google account.

For being able to use the application, the user has to create a new account and confirm the email just to log in. It's a long process. So by having Google OAuth SignUp we can make the process shorter for users who have a Google account.

### Acceptance Criteria

- [

[2021-03-05 10:02] keshavagarwal17 commented on #108
I would like to work on this issue.

[2021-03-05 10:40] nlok5923 commented on #111
I would like to work on it

[2021-03-05 11:01] chinmaym07 commented on #111
Hey @nlok5923 Sorry I have already implemented this . If you don't mind Can I go ahead & make a pr for this ?

[2021-03-05 11:05] nlok5923 commented on #111
Yeah sure @chinmaym07 👍

[2021-03-05 12:46] codesankalp commented on #108
@The-Keshav-Agarwal Wait for issue confirmation and labels addition by @isabelcosta

[2021-03-07 00:58] isabelcosta commented on #108
I will add the labels. but feel free @codesankalp to approve issues and add the labels, since you are an OS leader :)

[2021-03-07 01:51] #109 closed, assigned to nlok5923

[2021-03-07 01:52] #59 closed, assigned to Amulya-coder

[2021-03-07 04:21] keshavagarwal17 commented on #108
@isabelcosta @codesankalp please add the labels so that I can work on this.

[2021-03-07 04:22] codesankalp commented on #108
Assigning you @The-Keshav-Agarwal.

[2021-03-07 07:21] keshakaneria opened #114 "Add github actions including all the tests"
### Is your feature request related to a problem? Please describe.
Since we will soon add new features to the project, we need to test the PRs. Adding github actions which includes all the tests will verify and help us in checking its testing quality.

### Describe the solution you'd like
- Create a folder `.github/workflows` and add the file named `tests.yml`.
- You must include all the tests.

[2021-03-07 07:22] nlok5923 commented on #114
i would like to work on this issue.

[2021-03-07 07:28] codesankalp commented on #114
@keshakaneria As there is no test present on this Repo. I think we had to make more issues to implement the test and code coverage.
After that when there will be a test we can make the workflow for testing.
So I am adding `on:hold` label in this.

[2021-03-07 08:09] ashwinijha6 commented on #104
@Rahulm2310 is this issue available. Could I work on this?

[2021-03-07 20:46] ashwinijha6 commented on #100
@codesankalp could you pls assign this to @mehakkkk  this has not been assigned

[2021-03-08 05:26] keshakaneria commented on #100
Oops, we missed out assigning her! But we cant see her username to assign :(

[2021-03-08 07:04] Aaishpra commented on #100
@mehakkkk please comment here so that you can be assigned to this issue, and do follow contribution guidelines from next time.

[2021-03-08 07:11] ashwinijha6 commented on #100
Yeah @keshakaneria

[2021-03-08 08:40] ashwinijha6 opened #115 "fix: add required changes to docusaurus present in /docs"
### Is your feature request related to a problem? Please describe.
Certain changes are required in docusaurus present in the /docs directory
- Add the command `npm run serve` wherever required one can refer [this](https://github.com/anitab-org/open-source-programs-backend/blob/develop/osp-backend-docusaurus/README.md).
- The .features & .featureImage is not required, should be removed from [here](

[2021-03-08 08:41] codesankalp commented on #100
I will assign this to @mehakkk when she will comment here @keshakaneria, @Aaishpra, and @ashwinijha6.
I have asked her to do so in the PR and waiting for her comment on this issue.

[2021-03-08 08:42] ashwinijha6 commented on #115
@codesankalp & @keshakaneria could u'll pls check this issue & add necessary labels . Also if it is valid I would like to work on it.

[2021-03-08 11:23] ruddi10 opened #116 "Add frontend support for making admin"
### Is your feature request related to a problem? Please describe.
I want to implement frontend support for promoting or demoting a user. Currently we have to go to the django admin and change user type from there that I feel is a cumbersome task.

### Describe the solution you'd like
I plan on giving one more option named Users on the admin dashboard which will have a list of users with their pos

[2021-03-08 11:23] ruddi10 commented on #116
Kindly assign this issue to me @Aaishpra  @codesankalp

[2021-03-08 11:38] keshakaneria commented on #116
Hey @ruddi10! Thats great that you have raised an issue. I would like to tell you that whenever anyone raises an issue, it needs to be approved by atleast 1 member of the OS Leaders or the admins after which they will assign the issue whoever wants to work on it. Since you have created this issue, let us identify if the issue really needs to be worked upon. Till the time you can work on other issu

[2021-03-08 11:40] Aaishpra commented on #116
@ruddi10 i like the idea and motivation behind this issue, but currently we are focusing on completion of MVP and I don't think there is a need of this type of feature in the application which can promote a student to admin or demote the admin to student, basically this is an open source programs management application made for managing gsoc and other programs, so I don't particularly see any use

[2021-03-08 11:48] ruddi10 commented on #116
Yes I just wanted to raise a issue and want to make sure that incase this issue need to be worked upon to assign it to me so that I can work on it as I have a a basic outline of the code ready in my mind 😁

[2021-03-08 11:52] keshakaneria commented on #116
Yayy! Thats great :) dont worry, we can discuss this in upcoming meetings so we can understand the idea more better 😄

[2021-03-08 12:03] ruddi10 commented on #116
Actually I meant for anyone registered on that app

[2021-03-08 12:12] codesankalp commented on #116
@ruddi10 Looks good but giving permissions to all newly registered to change their user_type to admin is not feasible. But Yeah features like admins can make admins is possible. This issue needs discussion first with the admins.

[2021-03-08 12:21] ruddi10 commented on #116
Anyone cannot change their user type. I am not suggesting such a change. It will be an approval based system one can apply to be an admi then their request will be send to the admin who can approve it and once approved they will be admin , incase its rejected there request will fail.

[2021-03-08 12:29] codesankalp commented on #116
@ruddi10 But why give this permission to all users for applying as an admin? As the admin count is fixed and small in the count, I don't think it will be a good feature to apply for an admin position from the web.

[2021-03-08 12:38] ruddi10 opened #117 "Profile Form doesnt close after submitting"
### Describe the bug
When a user edit or fill the profile even after pressing the submit button the form remains open and I think that creates confusion I would rather suggest that we close the form .

### To Reproduce
Steps to reproduce the behavior:
1. Go to dashboard
2. Click on Edit Profile
3. Change some information and click Submit button
4. The form will not close

### Expected behavior
I t

[2021-03-08 12:39] ruddi10 commented on #117
If this issue is fine. Kindly assign it to me @codesankalp @keshakaneria

[2021-03-08 12:43] ruddi10 commented on #116
Then we can atleast provide admin with a feature to make others admin. Alongwith it we can even think of implement the option of inviting some person as admin. @codesankalp  @isabelcosta

[2021-03-08 12:43] codesankalp commented on #117
Sure @ruddi10. I am assigning this to you.
Also, one suggestion, If after submission backends respond with an error then don't close the form and display the error inside a message box. Also, don't forget to write a test for this feature.

[2021-03-08 12:45] ruddi10 commented on #117
Also should I show a pop-up incase the update is successful or not? @codesankalp

[2021-03-08 12:46] codesankalp commented on #116
Yes, this is the thing I am suggesting and that can be done. But as mentioned this issue needs discussion.

[2021-03-08 14:10] keshakaneria commented on #117
Pop up or a line in red on top above Dashboard text will be fine to let the user know if the form is submitted.

[2021-03-08 16:25] codesankalp commented on #117
Inline Error message box which disappears after some time.
Use Semantic UI.

[2021-03-08 18:07] ruddi10 commented on #117
I was asking incase its successful

[2021-03-08 18:16] keshakaneria commented on #117
You can go for this @ruddi10. If you have any queries do [let us know](https://anitab-org.zulipchat.com/#narrow/stream/237907-open-source-progs).

[2021-03-08 18:22] codesankalp commented on #117
Same success message box provided in Semantic UI.
And as mentioned by @keshakaneria you can go with your own idea and we will review it in PR.

[2021-03-09 02:33] nlok5923 opened #118 "Feat: Add preloader while completing login or sign up request."
### Is your feature request related to a problem? Please describe.
A preloader should be there while login or signup request process.

### Describe the solution you'd like

Once user clicked on login there should be a preloader till the time process getting executed in backend and once process completes the preloader should stop and user will be redirected to desired page same will be for signup p

[2021-03-09 09:35] keshakaneria commented on #115
In the footer, the 'Backend docs' needs to have the same link which is there currently, i guess. But yes, the `npm run serve` and unwanted .css can be removed from the file.

[2021-03-09 12:49] ruddi10 commented on #105
@codesankalp @keshakaneria  can I work on this

[2021-03-09 12:59] ruddi10 commented on #117
@keshakaneria  @codesankalp  I have fixed this issue just wanted to know the code formatter used for this repo as I use Prettier and its changing the formatting on save so it might be a problem

[2021-03-09 13:20] codesankalp commented on #105
@ruddi10 As you are assigned to an issue, I can't assign you.

[2021-03-09 13:21] codesankalp commented on #117
This will solve after merging of https://github.com/anitab-org/anitab-forms-web/pull/94.
You can make PR with formatted code.

[2021-03-09 13:31] ruddi10 commented on #117
ok thanks

[2021-03-09 13:42] nlok5923 commented on #105
@codesankalp can u please assign this to me.

[2021-03-09 14:28] ashwinijha6 commented on #115
No @keshakaneria we have migrated the docs to docusaurus for backend & web separately but the web was merged before the backend that's why the link needs to be changed in the **Backend docs** mentioned in the footer to [this](https://osp-backend-docs.surge.sh/) currently it is the wiki link.

[2021-03-09 15:08] codesankalp commented on #105
Sure @nlok5923, Assigning you.

[2021-03-09 15:21] codesankalp opened #120 "Change links and text to the current repository name"
## Description
As a contributor,
I need all the links and text that is using `open-source-programs-web` changed into `anitab-forms-web`,
so that there is no confusion and 404 pages for newcomers.

## Acceptance Criteria
### Update [Required]
- [ ] Change `open-source-programs-backend` to `anitab-forms-backend`.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by

[2021-03-09 15:38] nlok5923 commented on #105
@codesankalp what type of changes you want me to do . or shall i hide the anitaborg logo at lower resolutions

[2021-03-09 15:50] keshavagarwal17 commented on #120
@codesankalp I would like to work on this issue.

[2021-03-09 17:07] keshakaneria commented on #115
Oh yes I'm sorry I forgot we separated them 🤦‍♀️ Yes the link need to be changed! You can go ahead solving this issue 👍😄

[2021-03-10 14:51] Aaishpra commented on #120
@The-Keshav-Agarwal assigned you.
Happy Documenting 🚀

[2021-03-10 14:52] Aaishpra commented on #37
Closing this as this issue should be covered at the backend.

[2021-03-10 14:52] #37 closed, assigned to nobody

[2021-03-10 22:44] #108 closed, assigned to keshavagarwal17

[2021-03-12 11:30] ashwinijha6 commented on #115
Hey @keshakaneria should I also change the repo name to anitab-forms-web wherever required or we can keep as another issue like may be a first timers only. What say?

[2021-03-12 14:23] keshakaneria commented on #115
The issue is already created and a [PR](https://github.com/anitab-org/anitab-forms-web/pull/121) is also under review. You will have to change the name according to it otherwise while merging it will show conflicts.

[2021-03-12 15:03] ashwinijha6 commented on #115
Yes I found that @keshakaneria I have not changed the repo name here in this PR. I'll let that be done in the that PR only will make review wherever necessary 👍

[2021-03-13 14:23] codesankalp commented on #105
@nlok5923 You can change the UI according to scaling i.e. use transforms to change UI in mobile or any other method such that mobile and desktop UI looks good.

[2021-03-14 17:10] #75 closed, assigned to jalajcodes

[2021-03-18 01:57] prykdev commented on #120
I'd like to work on this if it is available. : )

[2021-03-18 05:58] keshavagarwal17 commented on #120
@P-riyanka-prasad as I already made a PR for this issue and it is under review so you can work on another issue.

[2021-03-20 14:04] codesankalp commented on #67
Closing this issue as it is fixed after adding QA-Checks and linting.

[2021-03-20 14:04] #67 closed, assigned to sagar-barapatre

[2021-03-20 14:06] codesankalp commented on #105
Any progress @nlok5923?

[2021-03-20 14:09] codesankalp commented on #72
@prachi237 Is your exams over and can you make a PR on this?

[2021-03-20 14:10] codesankalp commented on #49
@Joy-FrontEnd Any updates?

[2021-03-20 14:12] codesankalp commented on #116
Closing this as it is duplicate of https://github.com/anitab-org/anitab-forms-web/issues/4

[2021-03-20 14:12] #116 closed, assigned to nobody

[2021-03-22 18:47] Joy-FrontEnd commented on #49
@codesankalp I've been struggling to figure out the backend part and it might take some time as am not so familiar with backend to be honest. Is it possible to choose another task? As this might longer than I thought. Thank you.

[2021-03-23 02:45] codesankalp commented on #49
No problem @Joy-FrontEnd. You can take any other issue which is available.
I am unassigning you.
But for solving any other issue you may need to use the backend.
Is there any problem that you face while using the backend then please open an issue for this in anitab-forms-backend to make this project good.

[2021-03-23 03:08] Aaishpra commented on #49
@Joy-FrontEnd wanna work here #100 it's a first timer issue, must be a good start for you

[2021-03-28 02:58] Aaishpra opened #124 "Chore: Add all-contributors bot configuration"
## Description

As a maintainer,
I need to configure an all-contributors bot,
so that I can better recognize the contributors and leaders of this project.

-  https://allcontributors.org/docs/en/bot/configuration

## Acceptance Criteria
### Update [Required]

- [ ] Add configuration to project https://allcontributors.org/docs/en/bot/configuration

- [ ]    Add first contributors to table

## Defin

[2021-03-28 03:49] codesankalp opened #126 "[docs] Migrate docusaurus deployment from surge to gh-pages"
### Is your feature request related to a problem? Please describe.
It will be better to have the docs on the github-pages.

### Describe the solution you'd like
Deploy the docs on gh-pages.
Take reference from this: https://github.com/anitab-org/mentorship-backend/pull/841/commits/4cc78ae98b058a2eb2ad33adf1018e19e3a70e54

[2021-03-28 23:11] #83 closed, assigned to codesankalp

[2021-03-28 23:17] isabelcosta commented on #49
@Joy-FrontEnd would you like to work perhaps on a backend issue to understand it better? We can also assign you #100 if you'd like to try one task and follow our open source workflow process :)

[2021-03-30 08:58] Joy-FrontEnd commented on #49
@isabelcosta For now am learning some backend maybe in a months time if that's okay? Please.

[2021-04-02 12:38] isabelcosta commented on #49
Sure no problem @Joy-FrontEnd :) Happy learning 💪🏾
Feel free to come back if you want to contribute again 🤗

[2021-04-02 15:11] #124 closed, assigned to nobody

[2021-04-02 15:17] codesankalp opened #130 "Fix QA-Checks"
### Describe the bug
See the QA-Checks. It is failing.

### To Reproduce
Steps to reproduce the behavior:
1. Run QA checks as mentioned in README.

### Expected behavior
QA-Checks must pass.

### Desktop (please complete the following information):
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

[2021-04-02 17:09] isabelcosta commented on #124
@all-contributors please add @codesankalp for maintenance

[2021-04-02 17:10] isabelcosta commented on #124
@all-contributors please add @Aaishpra for maintenance

[2021-04-03 09:42] codesankalp commented on #120
@P-riyanka-prasad Do you want to work on this issue?

[2021-04-03 09:57] prykdev commented on #120
Yes

[2021-04-03 09:58] codesankalp commented on #120
Assigning you @P-riyanka-prasad.

[2021-04-03 15:09] isabelcosta commented on #124
@all-contributors please add @keshakaneria for maintenance

[2021-04-12 11:01] codesankalp commented on #72
Unassigning @prachi237 due to inactivity.

[2021-04-12 11:02] codesankalp commented on #71
@devifeoma Any progress update?

[2021-04-12 11:04] codesankalp commented on #65
Assigning you @jeeva2812

[2021-04-12 11:08] jeeva2812 commented on #65
Sorry @codesankalp, I won't be able to resolve this anytime soon.

[2021-04-12 11:12] codesankalp commented on #105
Unassigning @nlok5923 due to inactivity.

[2021-04-12 11:14] codesankalp commented on #120
Any progress update @P-riyanka-prasad ?

[2021-04-12 11:15] codesankalp commented on #95
@jalajcodes Do you want to work on this?

[2021-04-12 12:33] #26 closed, assigned to nobody

[2021-04-12 23:29] isabelcosta commented on #71
For now, it's better to make this available again due to inactivity. If @devifeoma wishes to contribute to this again, we can assign at the time again (if available) :)

cc @anitab-org/forms-maintainers @codesankalp

[2021-04-13 07:17] jalajcodes commented on #95
Yes! 😉

[2021-04-15 15:38] Aaishpra commented on #120
Unassigning @P-riyanka-prasad due to no response

[2021-04-16 08:28] Aryamanz29 commented on #105
I want to give it a try, Could you please assign it to me @codesankalp

[2021-04-16 08:32] Aryamanz29 commented on #105
Can we use material UI `useMediaQuery `for this?
ref : https://material-ui.com/components/use-media-query/
@codesankalp

[2021-04-19 18:05] untari commented on #120
Hi, it's anyone working on this issue?
if not may I work on it?

[2021-04-19 18:30] codesankalp commented on #120
Yes, @untari.
Assigning you.

[2021-04-20 05:08] devika1822 commented on #100
hii, can you assign this to me?

[2021-04-23 10:10] Amulya-coder commented on #130
@codesankalp if no one is working on this issue I would like to work.

[2021-04-23 10:42] codesankalp commented on #130
Assigning you @Amulya-coder

[2021-04-27 17:54] codesankalp commented on #130
@Amulya-coder Can you update your progress?

[2021-04-27 21:55] Harshita-Kanal commented on #126
I would like to take this up, a bit new here, can I get some guidance to get started?

[2021-04-28 10:36] codesankalp commented on #126
Assigning you @Harshita-Kanal

[2021-04-28 10:37] codesankalp commented on #126
@Harshita-Kanal If you need any help or any guidance you can ask it on Zulip of Anitab-org.

[2021-04-30 16:38] Amulya-coder commented on #130
@codesankalp I have done some research on why the QA-checks are failing and made some changes, but how do I check if my made changes working fine or not and QA-checks are passing.

[2021-04-30 17:02] codesankalp commented on #130
@Amulya-coder push your branch on GitHub or simply you can make aPR to see the build.

[2021-04-30 18:14] Amulya-coder commented on #130
![image](https://user-images.githubusercontent.com/66437295/116736754-eea4b300-aa0d-11eb-9151-3e8bb37a04ad.png)

@codesankalp Is it fine can you please confirm.

[2021-04-30 18:21] codesankalp commented on #130
Please make a PR and I will review it.

[2021-05-03 09:51] Harshita-Kanal commented on #126
Made a PR, do suggest changes on the same

[2021-05-07 18:58] #120 closed, assigned to untari

[2021-05-09 21:57] #130 closed, assigned to Amulya-coder

[2021-05-11 00:20] atharvashirdhankar commented on #71
Does anyone working on this issue?
Whether this issue is beed resolved?

And neither of the questions are yes . If you don't mind can I work on this?

[2021-05-11 02:35] Aaishpra commented on #71
Assigned you here @StarTrooper08

[2021-05-14 03:03] atharvashirdhankar commented on #71
Hey,Thanks for assigning me . I need little help in this can someone help me out!

[2021-05-14 04:47] Aaishpra commented on #71
What do you need help with and try using this tag @anitab-org/forms-maintainers whenever you need help with something, some one will surely reach you out

[2021-05-16 19:58] atharvashirdhankar commented on #71
Work to be Done(  **Target** ) :
![image](https://user-images.githubusercontent.com/72031540/118410695-5dd90300-b6ae-11eb-8aa7-c318c432661e.png)

Work done by me till now( **Current Status** ) :
![image](https://user-images.githubusercontent.com/72031540/118410576-c1166580-b6ad-11eb-9ba0-7a0859f7071b.png)

📁  I have done this much work.
 🔗  Adding Links is remaining .
Before that I just want to ma

[2021-05-17 03:45] codesankalp commented on #71
@StarTrooper08 Feel free to make a PR, we can review it there.

Also, it is not required to specify the target i.e. developers and users of anitab-org. So please change it and just include some important links are (or something relevant to it)

[2021-05-17 05:30] atharvashirdhankar commented on #71
Ok

[2021-05-18 12:27] atharvashirdhankar commented on #71
Which link should I add for open sessions?
And I added one more thing that is Announcement in zulip link.

[2021-05-18 13:56] Aaishpra commented on #71
https://meet.google.com/eqb-nuut-kqm
Here is the link @StarTrooper08

[2021-05-18 14:01] atharvashirdhankar commented on #71
Thanks👍.

[2021-05-20 11:10] atharvashirdhankar commented on #71
Made one PR for the same please have a look .
PR no .#143

[2021-05-20 12:14] sidharth3000 commented on #72
if this is still available can i take this?

[2021-05-20 15:31] Aaishpra commented on #72
Yess it is assigned you here, Do ask if you have any doubts

[2021-05-20 17:50] sidharth3000 commented on #72
project is not setting up, its giving me error.
<img width="960" alt="Screenshot 2021-05-20 231846" src="https://user-images.githubusercontent.com/55971223/119025602-ec58c780-b9c1-11eb-9612-598c85295eb3.png">

[2021-05-20 17:51] codesankalp commented on #72
Have you setup the backend correctly and is it running?

[2021-05-21 11:55] sidharth3000 commented on #72
yes now its running, i had to bump up several dependencies. Now if i am not wrong i just have to remove this line. is it right?
![Uploading Screenshot 2021-05-21 172530.png…]()

[2021-05-21 11:57] sidharth3000 commented on #72
yes now its running, i had to bump up several dependencies. Now if i am not wrong i just have to remove this line. is it right?
<img width="851" alt="Screenshot 2021-05-21 172530" src="https://user-images.githubusercontent.com/55971223/119133635-c121b700-ba59-11eb-9433-48bf875aa911.png">

[2021-05-22 14:23] aakankshaagr commented on #118
@codesankalp Can I work on this issue?

[2021-05-22 15:10] Aaishpra commented on #118
Assigned you @aakankshaagr

[2021-05-28 15:35] samilieberman commented on #100
Hi @Rahulm2310 @isabelcosta @codesankalp
Can I work on this issue? :)

[2021-05-28 15:41] Aaishpra commented on #100
@samilieberman assigned you. If you need any help feel free to reach out.

[2021-05-28 16:40] samilieberman commented on #100
Hey @Aaishpra,
Thank you! I raised a PR: https://github.com/anitab-org/anitab-forms-web/pull/144

[2021-05-28 20:38] #100 closed, assigned to samilieberman

[2021-05-30 14:23] atharvashirdhankar commented on #105
@codesankalp can I work on this issue .
It's Just a front end work I guess.
 I'll do it.

[2021-05-30 16:41] codesankalp commented on #105
Assigning you @StarTrooper08.
Yes, it's just related to the frontend, but please make sure that the login feature doesn't break.

[2021-05-30 17:25] atharvashirdhankar commented on #105
Yes , sure👍

[2021-06-04 11:14] atharvashirdhankar commented on #105
Hey sorry for the delay to solve this issue.
I forgot to ask that in which file I have to make changes 😅.

[2021-06-04 14:00] codesankalp commented on #105
@StarTrooper08 First try to explore the project.
You have to make changes in the [Login](https://github.com/anitab-org/anitab-forms-web/blob/develop/src/components/Login.js) and Signup Component.

[2021-06-04 14:15] atharvashirdhankar commented on #105
Okay

[2021-06-22 09:23] Sristi27 commented on #49
I would like to work on this issue.

[2021-06-22 11:15] Aaishpra commented on #49
Assigned @Sristi27

[2021-07-06 14:52] Amishakumari544 commented on #118
is any one working on this?? If not I want to work on this.

[2021-07-06 17:18] aakankshaagr commented on #118
@Amishakumari544 I am working on this. Currently I am redesigning signup. Its almost completed and I have added preloader in that

[2021-07-07 03:15] Amishakumari544 commented on #118
But @aakankshaagr you were assigned almost  1month before and you haven't updated it , if you are not doing please update. @Aaishpra

[2021-07-08 05:55] Aaishpra commented on #118
@Amishakumari544 let's give @aakankshaagr a week to update us with a PR, if she is somehow unable to do so, then you will be assigned here.

[2021-07-10 10:04] aakankshaagr commented on #118
@Aaishpra I have added the preloader to signup page and  I am also redesigning signup page so if I make PR now then  redesigning signup page issue code will get added too in preloader issue,  that's why I didn't made a PR otherwise I would have made PR long back. If it's fine then I will make a PR now.
I am attaching preloader design also here
![image](https://user-images.githubusercontent.com/718

[2021-07-10 15:01] aakankshaagr commented on #118
@Aaishpra I mistook the repository as bit-in-tech and I implemented preloader there. I was designing signup in that repository. I am trying to paste the same code here but it is not working here so it will take some time. I will make a PR in a day or two. Sorry, for the delay.

[2021-07-10 15:32] Aaishpra commented on #118
No problem, mistakes can happen take your time just give me updates

[2021-07-13 06:36] shreyshreyansh opened #151 "Deployment"
It will be helpful for us to contribute in a better way, if you can deploy the project somewhere

[2021-07-19 15:14] aakankshaagr commented on #118
![image](https://user-images.githubusercontent.com/71868375/126166973-6dcf4b9c-7e4f-4c8b-9841-2279dae214e6.png)
@Aaishpra Is this preloader okay?
I am getting error when I try to push my changes. So I tried to fork repo again , but on forking I get directed to `open-source-programs-web`.I am not understanding what's happening here? Can you please help me?
![image](https://user-images.githubusercon

[2021-07-19 16:00] codesankalp commented on #118
@aakankshaagr Delete your fork and refork the same repo, and then try to push your code with an updated fork.

According to the error you are pushing your changes to the upstream(anitab-forms) for which you don't have any access i.e. 403.

Create a branch on the fork repo, stage your changes and commit them and then push the new branch.

**Preloader review**:
I think either you can display the pre

[2021-07-20 05:31] Aaishpra commented on #118
@aakankshaagr try to do `git push -u origin preloader` instead of `git push --set-upstream origin preloader` and if that doesn't work try what Sankalp said above, btw it looks like you are trying to set an upstream and push changes in the same command,  this is the command for adding upstream `git remote add upstream https://github.com/anitab-org/anitab-forms-web/`

[2021-07-20 05:57] Aaishpra commented on #151
There is a PR for the same in the backend after that is complete we will move to frontend

[2021-07-20 05:57] #151 closed, assigned to nobody

[2021-07-22 16:16] codesankalp commented on #118
Can you update your progress @aakankshaagr ?

[2021-07-23 13:14] aakankshaagr commented on #118
@codesankalp preloader is there till window loads after that that it's hidden. This page loads extremely quickly so I wasn't able to take screenshots that fastly. So I delayed the timeout for taking a screenshot for giving an update here. I hope size, design, location, and color are okay for the preloader.

**Issue in forking:**
I tried everything as suggested by both of you but still m getting th

[2021-07-23 13:51] codesankalp commented on #118
@aakankshaagr Name doesn't matter that much, if you want to edit the name you can edit the name from the settings tab.
Try this:
[code]
Create the PR.

[2021-08-14 20:29] vj-codes commented on #105
@StarTrooper08 any updates?

[2021-08-14 20:29] vj-codes commented on #72
@sidharth3000 any updates?

[2021-08-18 11:34] nellyk commented on #95
@codesankalp if no one is working on this can i pick it up?

[2021-08-18 11:45] codesankalp commented on #95
Assigned you @nellyk

[2021-08-31 15:33] nellyk opened #156 "Add a check before committing locally"
### Describe the bug

Currently when commiting changes no checks are made to ensure that the changes made do not broken any of the tests/linting. These can introduce bugs.

I propose the use of husky https://github.com/typicode/husky which would add a pre commit hook

### To Reproduce
Steps to reproduce the behavior:
Try committing any changes locally with an error, this will pass through correctl

[2021-08-31 16:18] codesankalp commented on #156
It's good to have the pre-commit hook, so it seems to be a valid enhancement.
Make sure `husky` should be in development packages.

[2021-09-04 14:30] #156 closed, assigned to nellyk

[2021-09-06 05:44] codesankalp commented on #95
How is it going @nellyk? If you have any queries or problems then feel free to ask.

[2021-09-06 09:15] nellyk commented on #95
still working on this, will do. Thank you

[2021-10-01 19:40] isabelcosta commented on #72
@sidharth3000 removed your assignment due to a lack of activity. Feel free to claim again, if you want to work on it

[2021-10-01 19:45] #126 closed, assigned to Harshita-Kanal

[2021-10-01 20:00] isabelcosta opened #167 "Fix docusaurus deployment configuration"
## Description

As a maintainer,
I need Docusaurus release action fixed,
So that documentation can be available on GitHub pages.

The deployment of Docusaurus to GitHub pages is failing.
Check out the error from deploying Docusaurus page to GH Pages: https://github.com/anitab-org/anitab-forms-web/runs/3771335051

Config file: https://github.com/anitab-org/anitab-forms-web/blob/develop/.github/work

[2021-10-02 08:29] Aniket762 commented on #167
Hey, @isabelcosta I am interested. Can you please assign this to me? Being a first-timer to this org will be a great start for me!

[2021-10-02 10:49] isabelcosta commented on #167
Hi @Aniket762 :) Sure, I'll assign to you!

[2021-10-02 10:55] isabelcosta commented on #95
@nellyk any updates on this issue?
In case you're not working on this, we can make it available again so someone can work on it. But if you're still working on it, just let us know :)

[2021-10-03 18:19] Aniket762 commented on #167
Hey @isabelcosta, I have changed the `email` to `opensource@anitab.org` and username to `anitab-org`. I followed [this](https://docusaurus.io/docs/deployment).

 But I am getting `permission error`, I generated the key using `ssh-keygen -t rsa -b 4096 -C "your_email@example.com"` , then created a deployment key with the name `GH_PAGES_DEPLOY` then also it shows permission denied.

Then I removed t

[2021-10-03 18:44] isabelcosta commented on #167
@Aniket762 this https://docusaurus.io/docs/deployment#triggering-deployment-with-github-actions helped me a lot.

I would also encourage you to create a PR now if you already did the changes, so we can review it.

cc @codesankalp

[2021-10-03 18:48] Aniket762 commented on #167
sure!

[2021-10-04 21:59] #167 closed, assigned to Aniket762

[2021-10-04 22:08] isabelcosta opened #169 "Add badge to README about Docusaurus documentation"
## Description

Docusaurus documentation is available at https://anitab-org.github.io/anitab-forms-web/ thanks to #168

## Mocks

![mentorship-backend README badges](https://user-images.githubusercontent.com/11148726/135931426-07509064-59d6-4025-bf94-8c5ace574a7b.png)

## Acceptance Criteria
### Update [Required]
- [ ] Add badge with a link to Docusaurus on README. You can follow other projects ex

[2021-10-05 05:09] nlok5923 commented on #169
Can I work on it.

[2021-10-05 05:11] codesankalp commented on #169
Assigning you @nlok5923

[2021-10-05 13:50] nellyk commented on #95
hey @isabelcosta, yes i've made the required changes, going to raise a PR once i update the documentation. Apologies for the delay and silence

[2021-10-08 18:11] isabelcosta commented on #169
@codesankalp @nlok5923 I labeled this as a `first-timers-only` issue, since it is a very simple issue a newcomer can tackle. You have contributed before with https://github.com/anitab-org/anitab-forms-web/pull/110. Thank you for your eagerness to contribute! I will unassign so we can give a newcomer the chance to work on an issue for this repository. We can come with more issues that you can work

[2021-10-08 18:12] isabelcosta commented on #115
@nlok5923 would you like to contribute to this one?
cc @codesankalp

[2021-10-08 19:08] isabelcosta opened #171 "Add link with icon to our AnitaB.org Open Source Medium"
## Description

As an admin,
I need our Medium blog to be in the social media links on Docusaurus,
so that I can promote our blog to our contributors.

We want to see the medium link to our AnitaB.org Open Source on the Docusaurs page footer.
Our Medium publication: https://medium.com/anitab-org-open-source
Our Docusaurus documentation: https://anitab-org.github.io/anitab-forms-web/

## Mocks

You

[2021-10-08 19:46] ToluAkin commented on #171
Hi @isabelcosta Can I work on this?

[2021-10-08 19:49] isabelcosta commented on #171
Yes @ToluAkin :) I will assign it to you

[2021-10-08 19:52] isabelcosta commented on #171
@ToluAkin you might not see the same social icons as it is in the issue description. This is because I saw this in the mentorship repositories. It's ok, if for this website you add it as a community link in the footer, below github and zulip link

![anitab forms web footer](https://user-images.githubusercontent.com/11148726/136617497-20b29b51-92c1-4d80-9d11-86fb648f436b.png)

[2021-10-08 19:54] isabelcosta commented on #95
No worries @nellyk :) It's just because often users may abandon issues without notice, so we try our best to keep track of this, so we can have available issues for contributors.
Just know that it's totally ok if you decide to not work on this anymore!

[2021-10-08 20:08] ToluAkin commented on #171
Noted @isabelcosta

[2021-10-09 04:24] nlok5923 commented on #115
Thanks @isabelcosta for picking issue for me i would like to give it a try.

[2021-10-09 13:23] Aaishpra opened #173 "Tests: Add tests for checking input validations on Register form."
### Describe the solution you'd like

- Assert if validation check pops up for  empty username or email.
- Assert if validation check pops up if the password and email are not in correct format.
- Assert if validation check pops up if passwords are not same

### Describe any other information required

Use jest for testing .
More info on testing https://jestjs.io/docs/tutorial-react

### Additiona

[2021-10-09 13:29] Aaishpra opened #174 "Tests: Write tests for checking input validations if fields are empty in Login form"
### Describe the solution you'd like

- Assert if validation check pops up for  empty username.
- Assert if validation check pops up for empty email.

### Describe alternatives you've considered

Use jest for testing .
More info on testing https://jestjs.io/docs/tutorial-react

### Additional context

This can be [useful](https://github.com/anitab-org/bridge-in-tech-web/pull/88/files).

[2021-10-09 14:08] groopav commented on #174
Can I please work on this issue?

[2021-10-09 14:19] Code-Aditya-14 commented on #173
Can I work on this issue @Aaishpra

[2021-10-09 14:23] Aaishpra commented on #174
Go ahead

[2021-10-09 15:12] jennypoon commented on #173
I would like to give this a shot

[2021-10-09 15:25] isabelcosta commented on #173
Thank you so much for creating this @Aaishpra 🙌🏾
I assigned it to you @jennypoon :)

[2021-10-09 15:34] #171 closed, assigned to ToluAkin

[2021-10-10 13:19] sharur7 commented on #169
Can I work on this issue? @isabelcosta

[2021-10-12 04:17] Aaishpra opened #177 "Updating all the dependencies in the project"
## Task

- Updating all the project dependencies to their latest version.

[2021-10-12 04:56] umair-fayaz commented on #177
@Aaishpra I have created a PR #178. Please review

[2021-10-13 23:31] #169 closed, assigned to sharur7

[2021-10-14 11:21] msaini28r commented on #72
@isabelcosta can you assign this issue to me?

[2021-10-14 22:43] isabelcosta commented on #72
@msaini0r , @codesankalp assigned this ticket to you :)

[2021-10-14 22:46] #177 closed, assigned to umair-fayaz

[2021-10-15 05:24] msaini28r commented on #72
@isabelcosta please merge the pull request.

[2021-10-16 14:38] Aaishpra opened #181 "Add roadmap link to the documentation section in readme"
## Is your feature request related to a problem? Please describe

We can get the idea of the features and project status by  the project roadmap, hence a link to the same should be present in the readme.

## Describe the solution you'd like

Add the roadmap link under documentation section in Readme.

[2021-10-17 06:39] msaini28r commented on #181
@Aaishpra I would like to work on the issue.

[2021-10-17 13:35] #173 closed, assigned to jennypoon

[2021-10-17 13:36] #174 closed, assigned to random3900

[2021-10-17 21:12] isabelcosta commented on #181
@msaini0r before working on this could you please address my comments in your open pull request

[2021-11-09 12:39] gayatrib commented on #181
@isabelcosta @Aaishpra is this issue still open?

[2021-11-09 17:06] Aaishpra commented on #181
Assigned ya!!

[2021-11-12 09:32] Naliaka commented on #181
Have commit the link: docs: add roadmap link to the documentation section in readme
https://github.com/Naliaka/anitab-forms-web

[2021-11-14 01:59] Aaishpra commented on #181
Please send a PR instead of commit.

[2022-01-01 16:15] Samridhi-98 commented on #181
@Aaishpra @isabelcosta   is this issue still open?
I would like to work on it.

[2022-01-01 16:45] Aaishpra commented on #181
Sure go for it

[2022-01-01 17:21] ritik307 commented on #65
@codesankalp hi I would like to work on this. Kindly assign

[2022-01-26 18:16] #181 closed, assigned to Samridhi-98

[2022-02-01 20:06] aashimawadhwa opened #187 "Unhandled error exception while registering for a new account"
### Describe the bug
Getting the unhandled error exception while registering for a new account

### To Reproduce
Steps to reproduce the behavior:
1. Go to 'homescreen'.
2. Click on ' register-here' as a new user.
3. enter the details  and click on register button.
4. See error

### Expected behavior
It should register a new user and navigate to the login page .

### Screenshots
![Screenshot from 2

[2022-02-14 12:17] eleensmathew commented on #117
Can I work on this? Can you please guide me since I am new

[2022-02-28 14:40] Sandip-2001 commented on #71
Hii,
I am new in open source.
Is this still open?
I want to contribute.

[2022-03-22 08:59] Diksha4111 commented on #97
Can I get the opportunity to work on this issue?

[2022-03-22 13:22] codesankalp commented on #97
@Diksha4111 This issue is follow up of #31. If you can share any design on that issue, then surely after that you can start working on it.

[2022-03-22 15:21] Diksha4111 commented on #97
@codesankalp Thanks for showing interest on my request. I will surely share a design with you 😊

[2022-04-23 08:48] pprathameshmore commented on #187
@aashimawadhwa  I would like to work on this issue!

[2022-05-04 11:09] pankajsahu221 commented on #105
@codesankalp I can work on this issue, please assign it to me.

[2022-05-04 12:28] pankajsahu221 commented on #105
@codesankalp I can make the login and register page fully responsive using pure CSS without breaking any feature. If you need any other changes, then do let me know. Please assign the task to me, I would love to work on it.

[2022-05-04 13:25] codesankalp commented on #105
Instead of using pure CSS try to use react-bootstrap as much as possible.

[2022-05-05 05:49] pankajsahu221 commented on #105
Okay!

[2022-05-09 04:23] 3swayam commented on #117
Hey @ruddi10 would like to work on this issue. Can you assign it to  me ?

[2022-08-21 20:13] jivteshsingh commented on #117
If the issue is still there, kindly assign it to me.

[2022-08-25 17:32] SrijanShovit commented on #187
I would like to try on this issue @aashimawadhwa
Could you please assign it to me if it's still open

[2022-10-18 19:48] aditi5050 opened #207 "A link not working on Anitab Forms Web Docs"
![pr2](https://user-images.githubusercontent.com/102579070/196529266-1d86cc83-4ff2-422b-baff-d4b15271c8bf.jpg)
instead of directing to the git hub repositories it showing error
@tinniaru3005 Can I raise a PR for this

[2022-10-18 20:02] tinniaru3005 commented on #207
Hey @aditi5050, You can work on the issue and raise a PR now